{% extends '::layout_admin.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Liste des biens pour la résidence {{ residence.nom }}</h4>
                        </div>
                        <div class="col s12 document center">
                            <span>Liens :</span>
                            <span>
                                {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                                    <a class="copy_button" href="{{ absolute_url(asset('uploads/'~media.mediaName)) }}"><i
                                                class="material-icons">crop_original</i></a>
                                    Image
                                {% endfor %}
                            </span>
                            <span>
                                {% for media in residence.medias if media.typeMedia.nom == 'plaquette' %}
                                    <a class="copy_button" href="{{ absolute_url(asset('uploads/'~media.mediaName)) }}"><i
                                                class="material-icons">picture_as_pdf</i></a>
                                    Plaquette
                                {% endfor %}
                            </span>
                            <span>
                                {% for media in residence.medias if media.typeMedia.nom == 'notice' %}
                                    <a class="copy_button" href="{{ absolute_url(asset('uploads/'~media.mediaName)) }}"><i
                                                class="material-icons">picture_as_pdf</i></a>
                                    Notice
                                {% endfor %}
                            </span>
                        </div>
                        <div class="card-content table-responsive">
                            {% if flats is not empty %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Reference {{ knp_pagination_sortable(flats, '↑↓', 'flat.reference') }}</th>
                                        <th>Prix {{ knp_pagination_sortable(flats, '↑↓', 'flat.prix') }}</th>
                                        <th>Surface {{ knp_pagination_sortable(flats, '↑↓', 'flat.surface') }}</th>
                                        <th>Etage {{ knp_pagination_sortable(flats, '↑↓', 'flat.etage') }}</th>
                                        <th>Type de logement</th>
                                        <th>Statut {{ knp_pagination_sortable(flats, '↑↓', 'flat.statut') }}</th>
                                        <th>Aperçu</th>
                                        <th>Éditer</th>
                                        <th>Cloner</th>
                                        <th>Lien fiche</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for flat in flats %}
                                        <tr>
                                            <td>{{ flat.reference }}</td>
                                            <td>{{ flat.prix|number_format(0, '.', ' ') }}{% if flat.prix != null %} €{% endif %}</td>
                                            <td>{{ flat.surface }}{% if flat.surface != null %} m²{% endif %}</td>
                                            <td>{{ flat.etage }}</td>
                                            <td>{{ flat.typeLogement.nom}}</td>
                                            {% if flat.statut %}
                                            <td>Disponible</td>
                                            {% else %}
                                            <td>Vendu</td>
                                            {% endif %}
                                            <td>
                                                <a href="{{ path('admin_flat_show', { 'id': flat.id }) }}"><i
                                                            class="material-icons">remove_red_eye</i></a>
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_flat_edit', { 'id': flat.id }) }}"><i
                                                            class="material-icons">build</i></a>
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_flat_clone', { 'id': flat.id }) }}"><i
                                                            class="material-icons">done_all</i></a>
                                            </td>
                                            <td>
                                                <a class="copy_button" href="{{ absolute_url(path('flat_pdf_admin', { 'slug': residence.slug,'reference': flat.reference })) }}"><i
                                                            class="material-icons">picture_as_pdf</i></a>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-danger">Il n'y a pas encore de bien pour cette résidence</div>
                            {% endif %}
                            <hr>
                            <div class="navigation center">
                                {{ knp_pagination_render(flats, 'MyToursBundle::pagination.html.twig') }}
                            </div>
                            <ul>
                                <li>

                                    <a href="{{ path('admin_flat_new', {'id': residence.id}) }}"
                                       class="btn-floating btn-large waves-effect waves-light light-green"><i
                                                class="material-icons">add</i>Ajouter un bien</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_residence_index') }}"><i class="material-icons">keyboard_return</i>Retour à la liste des résidences</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}