{% extends '::layout_admin.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Liste des biens pour la résidence {{ residence.nom }}</h4>
                        </div>
                        <div class="card-content table-responsive">
                            {% if flats is not empty %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Reference {{ knp_pagination_sortable(flats, '↑↓', 'flat.reference') }}</th>
                                        <th>Prix {{ knp_pagination_sortable(flats, '↑↓', 'flat.prix') }}</th>
                                        <th>Surface {{ knp_pagination_sortable(flats, '↑↓', 'flat.surface') }}</th>
                                        <th>Etage {{ knp_pagination_sortable(flats, '↑↓', 'flat.etage') }}</th>
                                        <th>Type de logement</th>
                                        <th>Exposition Sejour</th>
                                        <th>Stationnement</th>
                                        <th>Statut</th>
                                        <th>Aperçu</th>
                                        <th>Éditer</th>
                                        <th>Cloner</th>
                                        <th>Image</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for flat in flats %}
                                        <tr>
                                            <td>{{ flat.reference }}</td>
                                            <td>{{ flat.prix }}{% if flat.prix != null %} €{% endif %}</td>
                                            <td>{{ flat.surface }}{% if flat.surface != null %} m²{% endif %}</td>
                                            <td>{{ flat.etage }}</td>
                                            <td>{{ flat.typeLogement.nom}}</td>
                                            <td>{{ flat.expositionSejour }}</td>
                                            <td>{{ flat.stationnement }}</td>
                                            {% if flat.statut %}
                                            <td>Disponible</td>
                                            {% else %}
                                            <td>Vendu</td>
                                            {% endif %}
                                            <td>
                                                <a href="{{ path('admin_flat_show', { 'id': flat.id }) }}"><i
                                                            class="material-icons">remove_red_eye</i></a>
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_flat_edit', { 'id': flat.id }) }}"><i
                                                            class="material-icons">build</i></a>
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_flat_clone', { 'id': flat.id }) }}"><i
                                                            class="material-icons">done_all</i></a>
                                            </td>
                                            <td>
                                                <a href="{{ path('flat_image', { 'id': flat.id}) }}"><i
                                                            class="material-icons">photo</i></a>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-danger">Il n'y a pas encore de bien pour cette résidence</div>
                            {% endif %}
                            <hr>
                            <div class="navigation center">
                                {{ knp_pagination_render(flats, 'MyOrleansBundle::pagination.html.twig') }}
                            </div>
                            <ul>
                                <li>

                                    <a href="{{ path('admin_flat_new', {'id': residence.id}) }}"
                                       class="btn-floating btn-large waves-effect waves-light light-green"><i
                                                class="material-icons">add</i>Ajouter un bien</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_residence_index') }}"><i class="material-icons">keyboard_return</i>Retour à la liste des résidences</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}