{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Bien ref. : {{ flat.reference }} </h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Reference</th>
                                    <td>{{ flat.reference }}</td>
                                </tr>
                                <tr>
                                    <th>Statut</th>
                                    <td>{% if flat.statut %}Disponible{% else %}Vendu{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Type de Logement</th>
                                    <td>{{ flat.typeLogement.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Etage</th>
                                    <td>{{ flat.etage }}</td>
                                </tr>
                                <tr>
                                    <th>Prix</th>
                                    <td>{{ flat.prix|number_format(0, '.', ' ') }}{% if flat.prix != null %} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Habitable</th>
                                    <td>{{ flat.surface }}{% if flat.surface != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Séjour</th>
                                    <td>{{ flat.surfaceSejour }}{% if flat.surfaceSejour != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Balcon</th>
                                    <td>{{ flat.surfaceBalcon }}{% if flat.surfaceBalcon != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Terrasse</th>
                                    <td>{{ flat.surfaceTerrasse }}{% if flat.surfaceTerrasse != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Jardin</th>
                                    <td>{{ flat.surfaceJardin }}{% if flat.surfaceJardin != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Terrain</th>
                                    <td>{{ flat.surfaceTerrain }}{% if flat.surfaceTerrain != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Exposition Séjour</th>
                                    <td>{{ flat.expositionSejour }}</td>
                                </tr>
                                <tr>
                                    <th>Stationnement</th>
                                    <td>{{ flat.stationnement }}</td>
                                </tr>
                                <tr>
                                    <th>Date de Livraison</th>
                                    <td>{{ flat.dateLivraison }}</td>
                                </tr>
                                <tr>
                                    <th>Menuiserie</th>
                                    <td>{{ flat.menuiserie }}</td>
                                </tr>
                                <tr>
                                    <th>Revêtement Sol Séjour</th>
                                    <td>{{ flat.solSejour }}</td>
                                </tr>
                                <tr>
                                    <th>Revêtement Sol Salle de Bains</th>
                                    <td>{{ flat.solSdb }}</td>
                                </tr>
                                <tr>
                                    <th>Revêtement Sol Chambre</th>
                                    <td>{{ flat.solChambre }}</td>
                                </tr>
                                <tr>
                                    <th>Revêtement Muraux</th>
                                    <td>{{ flat.revetementMur }}</td>
                                </tr>
                                <tr>
                                    <th>Chauffage</th>
                                    <td>{{ flat.chauffage }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="row">
                                {% for media in flat.medias %}
                                    <div class="col s4">
                                        <img class="responsive-img" src="{{ asset('uploads/'~media.mediaName) }}"/>
                                        <p>{{ media.typeMedia.nom }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_flat_index', {'id': flat.residence.id }) }}"><i
                                                class="material-icons">keyboard_return</i>Retour à la liste des
                                        biens</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_flat_edit', { 'id': flat.id }) }}"><i
                                                class="material-icons">build</i>Éditer ce bien</a>
                                </li>

                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
