<div class="col s12 l6">
    <div class="card">
        <div class="card-image">
            <a href="{{ path('residences', { 'slug': residence.slug }) }}">
                {% if residence.medias is not empty %}
                    {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                        <img src="{{ asset('uploads/'~media.mediaName) | imagine_filter('thumb_residence') }}" alt="residence">
                    {% endfor %}
                {% endif %}
                <div class="card-title">
                    <div class="card-content bandeau">
                        <h3>{{ residence.nom }}</h3>
                        <div class="row">
                            <p class="col s6 lieu">{{ residence.ville.nom }} {% if residence.quartier != null %} - {{ residence.quartier.nom }}{% endif %}</p>
                            <p class="col s6 prix">À partir de {{ prixMin|number_format(0, '.', ' ') }}€</p>
                        </div>
                        <div class="row">
                            <p class="col s8 livraison">Livraison {{ residence.dateLivraison }}</p>
                            {% if typeMin == typeMax %}
                            <p class="col s4 type">{{ typeMin }}</p>
                            {% else %}
                            <p class="col s4 type">Du {{ typeMin }} au {{ typeMax }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
