<footer>
    <div class="footer1">
        <div class="row">
            <!--colonne gauche-->
            <div class="col s12 l4">
                <p class="titreFooter center">CONTACTEZ-NOUS</p>
                <div class="row contact">
                    <div class="col offset-l1 l11">
                        <p class="linkFooter"><i class="small material-icons align-icon">phone</i><a
                                    href="tel:+33238759447"> 02 38 75 94 47</a></p>
                        <p class="linkFooter"><i class="small material-icons align-icon">location_on</i><a
                                    href="https://goo.gl/maps/znYTm1bE8pz" target="_blank"> 13, rue
                                Bannier 45000 Orléans</a></p>
                        <p class="linkFooter"><i class="small material-icons align-icon">email</i><a
                                    href="mailto:contact@my-orleans.fr">
                                contact@my-orleans.fr</a>
                        </p>
                    </div>
                </div>
                <p class="titreFooter center h5Footer">SUIVEZ-NOUS</p>
                <div class="row center">
                    <div class="col offset-l2 l2 s4">
                        <a href="https://www.facebook.com/myorleans/?ref=page_internal" target="_blank">
                            <div class="social-btn">
                                <i class="fa fa-facebook fa-3x fb-social"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col offset-l1 l2 s4">
                        <a href="https://plus.google.com/+MYORLEANSOrl%C3%A9ans" target="_blank">
                            <div class="social-btn">
                                <i class="fa fa-google-plus fa-3x gplus-social"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col offset-l1 l2 s4">
                        <a href="https://www.youtube.com/channel/UCFATFRMEwROsER_aiGX2OfQ/videos" target="_blank">
                            <div class="social-btn">
                                <i class="fa fa-youtube fa-3x ytb-social"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--colonne milieu-->
            <div class="col s12 l4 bordureFooter">
                <p class="titreFooter center"><a href="{{ path("nosresidences") }}">NOTRE SELECTION</a></p>
                <div class="row">
                    {% for programme in programmes %}
                        <div class="col s12 l6">
                            <p class="linkFooter"><a
                                        href="{{ path('residences', { 'slug': programme.slug, 'Ville': programme.ville.nom }) }}">{{ programme.nom }}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                {#<p class="titreFooter center h5Footer"><a href="{{ path("expertise")~'#service' }}">SAVOIR-FAIRE</a></p>#}
                {#<div class="row">#}
                    {#<div class="col s12">#}
                        {#{% for service in services %}#}
                            {#<p class="linkFooter"><a href="{{ path("expertise")~'#'~service.type }}">{{ service.type }}</a></p>#}
                        {#{% endfor %}#}
                    {#</div>#}
                {#</div>#}
                {#<p class="titreFooter center h5Footer"><a href="{{ path("expertise")~'#pack' }}">NOS PACKS</a></p>#}
                {#<div class="row">#}
                    {#<div class="col s12">#}
                        {#{% for pack in packs %}#}
                            {#<p class="linkFooter"><a href="{{ path("expertise")~'#'~pack.nom }}">{{ pack.nom }}</a></p>#}
                        {#{% endfor %}#}
                    {#</div>#}
                {#</div>#}
            </div>
            <!--colonne droite-->
            <div class="col s12 l4">
                <p class="titreFooter center"><a href="{{ path("my-orleans") }}">MY ORLÉANS</a></p>
                <div class="row">
                    <div class="offset-l1 col l11">
                        <p class="linkFooter"><a href="{{ path("my-orleans")~'#presentation' }}">Présentation</a></p>
                        <p class="linkFooter"><a href="{{ path("my-orleans")~'#equipe' }}">Notre équipe</a></p>
                        <p class="linkFooter"><a href="{{ path("my-orleans")~'#realisations' }}">Nos réalisations</a></p>
                        <p class="linkFooter hide-on-med-and-down"><a href="{{ path("my-orleans")~'#actualite' }}">Notre actualité</a></p>
                        <p class="linkFooter"><a href="{{ path("my-orleans")~'#partenaires' }}">Nos partenaires</a></p>
                    </div>
                </div>
                {#<p class="titreFooter center h5Footer"><a href="{{ path("immo_pratique") }}">INFOS PRATIQUES</a></p>#}
                {#<div class="row">#}
                {#<div class="offset-l1 col l11">#}
                {#{% for article in articles %}#}
                {#<p class="linkFooter"><a href="{{ path("immo_pratique") }}">{{ article.titre }}</a></p>#}
                {#{% endfor %}#}
                {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="row">
            <div class="col offset-l1 s12 l3">
                <p class="copyrightMyO">© 2017 My-Orléans</p>
            </div>
            <div class="col s12 l2">
                <p class="linkFooter mentions"><a href="#modalMention">Informations légales</a></p>
            </div>
            <div class="col s12 l2">
                <p class="linkFooter honoraires"><a href="#modalHonoraire">Frais et honoraires de gestion</a></p>
            </div>
            <div class="col s12 l3">
                <div class="labels">
                    <a href="http://www.fnaim.fr/" target="_blank"><img src="{{ asset('img/logo-fnaim.png') }}"
                                                                        alt="FNAIM"
                                                                        class="logoFooter"></a>
                    <a href="https://www.galian.fr/" target="_blank"><img src="{{ asset('img/logo-galian.png') }}"
                                                                          alt="Galian" class="logoFooter"></a>
                </div>
            </div>
        </div>
        <!--modale informations légales-->
        <div id="modalMention" class="modal">
            <div class="modal-content">
                <a href="#" class="modal-action modal-close right"><i class="material-icons">close</i></a>
                {{ accueil.mentions | raw }}
            </div>
        </div>
        <!--modale honoraires-->
        <div id="modalHonoraire" class="modal">
            <a href="#" class="modal-action modal-close right"><i class="material-icons">close</i></a>
            <div class="modal-content">
                {% for media in accueil.medias if media.typeMedia.nom == 'image' %}
                    <img src="{{ asset('uploads/'~media.mediaName) }}" alt="honoraires">
                {% endfor %}
            </div>
        </div>
    </div>
</footer>