{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block video %}
    <!--Accueil video ou image Full Page-->
    <div class="accueil" id="intro">
        {% for media in accueil.medias %}
            {% if media.typeMedia.nom == 'video' %}
                    <video autoplay loop muted>
                        <source src="{{ asset('uploads/'~media.mediaName) }}" type="video/mp4">
                        <source src="{{ asset('uploads/'~media.mediaName) }}" type="video/ogg">
                        <source src="{{ asset('uploads/'~media.mediaName) }}" type="video/webm">
                    </video>
            {% elseif media.typeMedia.nom == 'image-cover' %}
                <img class="imageAccueil" src="{{ asset('uploads/'~media.mediaName) }}" alt="accueil">
            {% endif %}
        {% endfor %}
        <img class="logoAccueil" src="{{ asset('img/logo_myorleans_accueil.png') }}" alt="logo">
    </div>
{% endblock video %}

{% block content %}
    <h2>DÉCOUVREZ NOTRE SELECTION DE PROGRAMMES</h2>
    <!-- Mosaïque Résidences -->
    <div class="row">
        <div class="col offset-l1 s12 l10 mosaic">
            <!-- Colonne Gauche -->
            <div class='colonne'>
                {% for residence in residenceCol1 %}
                    <div class="zone">
                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                            <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                        {% endfor %}
                        <div class="contenu">
                            <h3>{{ residence.nom }}</h3>
                            <a href="{{ path('residences', { 'slug': residence.slug }) }}">VOIR PLUS</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Colonne Centre -->
            <div class='colonne milieu'>
                {% for residence in residenceCol2 %}
                    <div class="zone">
                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                            <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                        {% endfor %}
                        <div class="contenu">
                            <h3>{{ residence.nom }}</h3>
                            <a href="{{ path('residences', { 'slug': residence.slug }) }}">VOIR PLUS</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="voir">
                    <a href="{{ path('nosresidences') }}"><p>VOIR PLUS DE PROGRAMMES</p></a>
                </div>
            </div>
            <!-- Colonne Droite -->
            <div class='colonne'>
                {% for residence in residenceCol3 %}
                    <div class="zone">
                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                            <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                        {% endfor %}
                        <div class="contenu">
                            <h3>{{ residence.nom }}</h3>
                            <a href="{{ path('residences', { 'slug': residence.slug }) }}">VOIR PLUS</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h2 class=" hide-on-small-only">NOTRE ÉQUIPE</h2>
    <div class="row  hide-on-small-only">
        <!-- Barillet équipe -->
        <div class="col offset-l1 l5">
            <div class="barillet">
                <div class="colBarillet">
                    <ul class="circle-container">
                        {% for collaborateur in collaborateurs %}
                            {% if loop.index == 1 %}
                                <li class="item"><a class="active" href="#"><img
                                                class="collaborateurBarillet circle"
                                                src="{{ asset('uploads/'~collaborateur.media.mediaName) | imagine_filter('thumb_collaborateur') }}"></a>
                                </li>
                            {% else %}
                                <li class="item"><a href="#"><img class="collaborateurBarillet circle"
                                                                  src="{{ asset('uploads/'~collaborateur.media.mediaName) | imagine_filter('thumb_collaborateur') }}"></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="colBarillet">
                    <ul class="bioCollaborateur">
                        {% for collaborateur in collaborateurs %}
                            {% if loop.index == 1 %}
                                <li>
                                    <a class="active" href="#">
                                        <div class="bio center circle">
                                            <span>{{ collaborateur.prenom }} {{ collaborateur.nom }}</span>
                                            <p>{{ collaborateur.fonction }}</p>
                                            <p class="vision">Sa vision :</p>
                                            <p>"{{ collaborateur.bio }}"</p>
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a>
                                        <div class="bio center circle">
                                            <span>{{ collaborateur.prenom }} {{ collaborateur.nom }}</span>
                                            <p>{{ collaborateur.fonction }}</p>
                                            <p class="vision">Sa vision :</p>
                                            <p>"{{ collaborateur.bio }}"</p>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Slider Temoignages -->
        <div class="offset-s1 col l5 s10">
            <div class="temoignage">
                <div class="enteteCarousel">
                    <h3>CE QUE NOS CLIENTS PENSENT DE NOUS</h3>
                </div>
                <div class="slider">
                    <ul class="slides">
                        {% for temoignage in temoignages %}
                            <li>
                                <img class="imageTemoignage" src="{{ asset('uploads/'~temoignage.media.mediaName) }}"
                                     alt="témoin">
                                <div class="caption center-align">
                                    <span>{{ temoignage.auteur }}</span>
                                    <p>{{ temoignage.message }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="col s12">
                        <button class="prev btn grey darken-3 btn-floating btn-large"><i
                                    class="fa fa-caret-left white-text text-lighten-1"></i></button>
                        <button class="next btn grey darken-3 btn-floating btn-large"><i
                                    class="fa fa-caret-right white-text text-lighten-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            $('.navbar-fixed').removeAttr('class').css({bottom : '0'});

            var height = (window.innerHeight - document.getElementById("nav").offsetHeight) +'px';

            document.getElementById('intro').style.height = height;

            // Slider temoignage
            $('.slider').slider({
                height: 300,
                indicators: false,
                interval: 12000
            });

            //$('.slider').slider('pause');

            $('.next').click(function () {
                $('.slider').slider('next');
            });
            $('.prev').click(function () {
                $('.slider').slider('prev');
            });

            $('select').material_select();

            $('.parallax').parallax();

            $('.carousel').carousel({
                indicators: true,
                dist: 0,
                shift: 20,
                duration: 100
            });
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/stickynav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/barillet.js') }}"></script>
{% endblock %}