{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block video %}
    <div class="videoAccueil">
        <video width="100%" autoplay loop muted>
            <source src="{{ asset('video/MyOrleans.mp4') }}" type="video/mp4">
            <source src="{{ asset('video/MyOrleans.mp4') }}" type="video/ogg">
            <source src="{{ asset('video/MyOrleans.mp4') }}" type="video/webm">
        </video>
        <img class="logoAccueil" src="{{ asset('img/logo_myorleans_accueil.png') }}" alt="logo">
    </div>
{% endblock video %}

{% block content %}
    <h1>DÉCOUVREZ NOTRE SELECTION DE PROGRAMMES</h1>
    <!-- Mosaïque Résidences -->
    <div class="row">
        <div class="offset-s1 col s10 mosaic">
            <!-- Colonne Gauche -->
            <div class='colonne'>
                {% for residence in residenceCol1 %}
                    <div class="zone">
                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                            <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                        {% endfor %}
                        <div class="contenu">
                            <p>{{ residence.nom }}</p>
                            <a href="#">VOIR PLUS</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Colonne Centre -->
            <div class='colonne milieu'>
                {% for residence in residenceCol2 %}
                    <div class="zone">
                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                            <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                        {% endfor %}
                        <div class="contenu">
                            <p>{{ residence.nom }}</p>
                            <a href="#">VOIR PLUS</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="voir">
                    <a href="#"><p>VOIR PLUS DE PROGRAMMES</p></a>
                </div>
            </div>
            <!-- Colonne Droite -->
            <div class='colonne'>
                {% for residence in residenceCol3 %}
                    <div class="zone">
                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                            <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                        {% endfor %}
                        <div class="contenu">
                            <p>{{ residence.nom }}</p>
                            <a href="#">VOIR PLUS</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h1>NOTRE ÉQUIPE</h1>
    <div class="row">
        <!-- Barillet équipe -->
        {#<div class="offset-l1 col l4">#}
            {#<img src="{{ asset('img/test/barillet.png') }}">#}
        {#</div>#}
        <!-- Slider Temoignages -->
        <div class="offset-s1 offset-l6 col l5 s10">
            <div class="temoignage">
                <div class="enteteCarousel">
                    <p>CE QUE NOS CLIENTS PENSENT DE NOUS</p>
                </div>
                <div class="slider">
                    <ul class="slides">
                        {% for temoignage in temoignages %}
                            <li>
                                <img class="imageTemoignage" src="{{ asset('uploads/'~temoignage.media.mediaName) }}" alt="témoin">
                                <div class="caption center-align">
                                    <h3>{{ temoignage.auteur }}</h3>
                                    <h5>{{ temoignage.message }}</h5>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="col s12">
                        <button class="prev btn grey darken-3 btn-floating btn-large"><i
                                    class="fa fa-caret-left white-text text-lighten-1"></i></button>
                        <button class="next btn grey darken-3 btn-floating btn-large"><i
                                    class="fa fa-caret-right white-text text-lighten-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}