{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block description %}
    <meta name="description" content="description de la page home"/>
{% endblock %}

{% block video %}
    <!--Accueil video ou image Full Page-->
    <div class="accueil" id="intro">
        {% for media in accueil.medias %}
            {% if media.typeMedia.nom == 'video' %}
                <video autoplay loop muted>
                    <source src="{{ asset('uploads/'~media.mediaName) }}" type="video/mp4">
                    <source src="{{ asset('uploads/'~media.mediaName) }}" type="video/ogg">
                    <source src="{{ asset('uploads/'~media.mediaName) }}" type="video/webm">
                </video>
            {% elseif media.typeMedia.nom == 'image-cover' %}
                <img class="imageAccueil" src="{{ asset('uploads/'~media.mediaName) }}" alt="Agence">
            {% endif %}
        {% endfor %}
        <img class="logoAccueil" src="{{ asset('img/logo_myorleans_accueil.png') }}" alt="logo My-Orléans">
    </div>
{% endblock video %}

{% block content %}
    <h1>NOTRE SELECTION DE PROGRAMMES NEUFS</h1>
    <!-- Mosaïque Résidences -->
    <div class="row">
        <div class="col offset-l1 s12 l10 mosaic">
            <!-- Colonne Gauche -->
            <div class='colonne'>
                {% for residence in residenceCol1 %}
                    <div class="zone">
                        <a href="{{ path('residences', { 'slug': residence.slug, 'Ville': residence.ville.slug }) }}">
                            {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                                <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence {{ residence.nom }}">
                            {% endfor %}
                            <div class="contenu col offset-l1 l10">
                                <p>{{ residence.nom }}</p>
                                <h2>{{ residence.ville.nom }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- Colonne Centre -->
            <div class='colonne milieu'>
                {% for residence in residenceCol2 %}
                    <div class="zone">
                        <a href="{{ path('residences', { 'slug': residence.slug, 'Ville': residence.ville.slug }) }}">
                            {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                                <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence {{ residence.nom }}">
                            {% endfor %}
                            <div class="contenu col offset-l1 l10">
                                <p>{{ residence.nom }}</p>
                                <h2>{{ residence.ville.nom }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <a href="{{ path('nosresidences') }}">
                    <div class="voir">
                        <p>TOUS NOS PROGRAMMES NEUFS</p>
                    </div>
                </a>
            </div>
            <!-- Colonne Droite -->
            <div class='colonne'>
                {% for residence in residenceCol3 %}
                    <div class="zone">
                        <a href="{{ path('residences', { 'slug': residence.slug, 'Ville': residence.ville.slug }) }}">
                            {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                                <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence {{ residence.nom }}">
                            {% endfor %}
                            <div class="contenu col offset-l1 l10">
                                <p>{{ residence.nom }}</p>
                                <h2>{{ residence.ville.nom }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ path('nosresidences') }}">
                <div class="voir2">
                    <p>TOUS NOS PROGRAMMES NEUFS</p>
                </div>
            </a>
        </div>
    </div>

    <h1 class="hide-on-med-and-down">NOTRE ÉQUIPE</h1>
    <div class="row  hide-on-med-and-down">
        <!-- Barillet équipe -->
        <div class="col offset-l1 l5">
            <div class="barillet">
                <div class="colBarillet">
                    <ul class="circle-container">
                        {% for collaborateur in collaborateurs %}
                            {% if loop.index == 1 %}
                                <li class="item">
                                    <a class="active" href="#">
                                        <img class="collaborateurBarillet circle"
                                             src="{{ asset('uploads/'~collaborateur.media.mediaName) | imagine_filter('thumb_collaborateur') }}"
                                             alt="photo de {{ collaborateur.prenom }} {{ collaborateur.nom }}">
                                    </a>
                                </li>
                            {% else %}
                                <li class="item">
                                    <a href="#">
                                        <img class="collaborateurBarillet circle"
                                             src="{{ asset('uploads/'~collaborateur.media.mediaName) | imagine_filter('thumb_collaborateur') }}"
                                             alt="photo de {{ collaborateur.prenom }} {{ collaborateur.nom }}">
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="colBarillet">
                    <ul class="bioCollaborateur">
                        {% for collaborateur in collaborateurs %}
                            {% if loop.index == 1 %}
                                <li>
                                    <a class="active" href="#">
                                        <div class="bio center circle">
                                            <span>{{ collaborateur.prenom }} {{ collaborateur.nom }}</span>
                                            <p>{{ collaborateur.fonction }}</p>
                                            <p>E-mail : {{ collaborateur.email }}</p>
                                            <p class="vision">Sa vision :</p>
                                            <p>"{{ collaborateur.bio }}"</p>
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a>
                                        <div class="bio center circle">
                                            <span>{{ collaborateur.prenom }} {{ collaborateur.nom }}</span>
                                            <p>{{ collaborateur.fonction }}</p>
                                            <p>E-mail : {{ collaborateur.email }}</p>
                                            <p class="vision">Sa vision :</p>
                                            <p>"{{ collaborateur.bio }}"</p>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Slider Temoignages -->
        <div class="col offset-s1 offset-l1 l4 s10">
            <div class="temoignage">
                <div class="enteteCarousel">
                    <h2>CE QUE NOS CLIENTS PENSENT DE NOUS</h2>
                </div>
                <div class="slider">
                    <ul class="slides">
                        {% for temoignage in temoignages %}
                            <li>
                                <img class="imageTemoignage" src="{{ asset('uploads/'~temoignage.media.mediaName) }}"
                                     alt="photo du témoin {{ temoignage.auteur }}">
                                <div class="caption center-align">
                                    <p>{{ temoignage.message }}</p>
                                    <p class="right">{{ temoignage.auteur }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- début formulaire de contact -->
    <form method="post" action="">
        <div id="slide-out" class="side-nav formulaireVolet">
            <div class="userView">
                <div class="closeSideNav"><a href="#"><i class="material-icons">close</i></a></div>
                <div class="contactNous center">Contactez nous !</div>
                <div class="contactTel center">{{ telephone_number }}</div>
                {{ form_start(form) }}

                <div class="row center">
                    <div class="input-field col s12">
                        {{ form_widget(form.civilite) }}
                        {{ form_errors(form.civilite) }}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.codePostal) }}
                        {{ form_widget(form.codePostal) }}
                        {{ form_errors(form.codePostal) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">phone</i>
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>
                </div>
                <p class="newsletter">Quel est votre projet ?</p>
                <div class="row">
                    <div class="col s12 center">
                        {{ form_widget(form.projet) }}
                        {{ form_errors(form.projet) }}
                    </div>

                    <div class="col s12 center">
                        {{ form_widget(form.typeLogement) }}
                        {{ form_errors(form.typeLogement) }}
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">euro_symbol</i>
                        {{ form_label(form.budget) }}
                        {{ form_widget(form.budget) }}
                        {{ form_errors(form.budget) }}
                    </div>
                </div>
                <p class="newsletter">Quel est l'objet de votre message?</p>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">info_outline</i>
                        {{ form_label(form.sujet) }}
                        {{ form_widget(form.sujet, {'attr': {'value':'Demande d\'information'}}) }}
                        {{ form_errors(form.sujet) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message, {'attr': {'placeholder':'Bonjour, je souhaiterais recevoir des informations, merci de me contacter rapidement!'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
                <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>
                <div class="row center">
                    <div class="col s12 center">
                        {{ form_widget(form.newsletter) }}
                        {{ form_errors(form.newsletter) }}
                    </div>
                </div>

                <div class="col l12 newsletter">
                    {{ form_row(form.envoyer) }}
                </div>
                <p class="newsletter"><i>* Champs requis</i></p>
                {{ form_end(form) }}
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            $('.navbar-fixed').removeAttr('class').css({bottom: '0'});

            var height = (window.innerHeight - document.getElementById("nav").offsetHeight) + 'px';

            document.getElementById('intro').style.height = height;

            // Slider temoignage
            $('.slider').slider({
                height: 200,
                indicators: true,
                interval: 4000
            });

        });
    </script>
    <script type="text/javascript" src="{{ asset('js/stickynav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/barillet.js') }}"></script>
{% endblock %}