{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <!--Formulaire-->
        {{ render(controller('MyOrleansBundle:front/Layout:formulaire')) }}

        {% block video %}
        {% endblock video %}

        <!--Navbar-->
        {{ render(controller('MyOrleansBundle:front/Layout:navBar')) }}

        {% block content %}

            <!--Retour haut de page-->
            <p id="back-top"><a href="#"><img src="{{ asset('img/backTop.png') }}" alt="souris"></a></p>

        {% endblock content %}

        <!--Footer-->
        {{ render(controller('MyOrleansBundle:front/Layout:footer')) }}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/stickynav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/socialmedia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}