{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <!--Formulaire-->
        {{ render(controller('MyOrleansBundle:front/Layout:formulaire')) }}

        {% block video %}
        {% endblock video %}

        <!--Navbar-->
        <nav class="menu">
            <div class="nav-wrapper">
                <a href="{{ path("home") }}" class="brand-logo">
                    <img class="logo" src="{{ asset('img/logo_myorleans.png') }}" alt="logo"/>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                            class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ path("nosresidences") }}">NOS RÉSIDENCES</a></li>
                    <li><a href="{{ path("nos_services") }}">NOS SERVICES</a></li>
                    <li><a href="{{ path("agence") }}">MY ORLÉANS</a></li>
                    <li><a href="{{ path("immo_pratique") }}">INFOS PRATIQUES</a></li>
                    <li><a href="#"><i class="material-icons">search</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ path("nosresidences") }}">NOS RÉSIDENCES</a></li>
                    <li><a href="{{ path("nos_services") }}">NOS SERVICES</a></li>
                    <li><a href="{{ path("agence") }}">MY ORLÉANS</a></li>
                    <li><a href="{{ path("immo_pratique") }}">INFOS PRATIQUES</a></li>
                </ul>
            </div>
        </nav>

        {% block content %}

            <!--Retour haut de page-->
            <p id="back-top"><a href="#"><img src="{{ asset('img/backTop.png') }}" alt="souris"></a></p>

        {% endblock content %}

        <!--Footer-->
        {{ render(controller('MyOrleansBundle:front/Layout:footer')) }}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/stickynav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/socialmedia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}