<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8"/>


    {#<link rel="stylesheet" href="{{ absolute_url(asset('css/materialize.css')) }}" media="screen,projection"/>#}
    <link rel="stylesheet" href="{{ base_dir ~ asset('css/materialize.css') }}" media="screen,projection"/>


    {#<link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet"/>#}
    <link href="{{ base_dir ~ asset('css/pdf.css') }}" rel="stylesheet"/>


    {#<link href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" rel="stylesheet">#}

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col s4 left-align adresse">
            <p>13 rue Bannier</p>
            <p class="greenMyO">45000 ORLEANS</p>
        </div>
        <div class="col s4">
            <img class="responsive-img" src="{{ base_dir ~ asset('img/logo_myorleans.png') }}">
        </div>
        <div class="col s4 right-align contact">
            <p>{{ telephone_number }}</p>
            <p class="greenMyO">{{ mail_agence }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <div class="trait"></div>
            <div class="situation">
                <span class="residence">{{ location.ville.nom }}</span>
                <p class="ville">{{ location.typeBien.nom }} de type {{ location.typeLogement.id }}</p>
                <span class="reference">
                    Réf : {{ location.reference }} - Loyer mensuel :
                    {% if location.provision %}
                        {{ location.loyer + location.provision|number_format(0, '.', ' ') }} € CC
                        {#<span class="infoSup">CC</span>#}
                    {% else %}
                        {{ location.loyer|number_format(0, '.', ' ') }} €
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% for media in location.medias if media.typeMedia.nom == 'image-cover' %}
                <img class="imageLoc"
                     src="{{ base_dir ~ asset('uploads/'~media.mediaName) }}"
                     alt="image principale">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="descriptionLoc">{{ location.description | raw }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/bilan.png') }}" alt="bareme">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">Performance énergétique : {{ location.energie }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/ges.png') }}" alt="ges">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">Gaz à effet de serre : {{ location.ges }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/Parking.png') }}" alt="voiture">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">
                        {% if location.stationnement %}
                            {{ location.stationnement }}
                        {% else %}
                            <i>non communiqué</i>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/chauffage.png') }}" alt="chauffage">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">
                        {% if location.chauffage %}
                            {{ location.chauffage }}
                        {% else %}
                            <i>non communiqué</i>
                        {% endif %}
                    </p>
                </div>
            </div>
            {#{% if location.surfaceBalcon %}#}
                {#<div class="col s12">#}
                    {#<div class="col s1">#}
                        {#<img class="icone" src="{{ base_dir ~ asset('img/room.png') }}" alt="plan">#}
                    {#</div>#}
                    {#<div class="col offset-s1 s10">#}
                        {#<p class="info">Balcon : {{ location.surfaceBalcon }} m²</p>#}
                    {#</div>#}
                {#</div>#}
            {#{% endif %}#}
            {#{% if location.surfaceTerrasse %}#}
                {#<div class="col s12">#}
                    {#<div class="col s1">#}
                        {#<img class="icone" src="{{ base_dir ~ asset('img/room.png') }}" alt="plan">#}
                    {#</div>#}
                    {#<div class="col offset-s1 s10">#}
                        {#<p class="info">Terrasse : {{ location.surfaceTerrasse }} m²</p>#}
                    {#</div>#}
                {#</div>#}
            {#{% endif %}#}
            {#{% if location.surfaceJardin %}#}
                {#<div class="col s12">#}
                    {#<div class="col s1">#}
                        {#<img class="icone" src="{{ base_dir ~ asset('img/room.png') }}" alt="plan">#}
                    {#</div>#}
                    {#<div class="col offset-s1 s10">#}
                        {#<p class="info">Jardin : {{ location.surfaceJardin }} m²</p>#}
                    {#</div>#}
                {#</div>#}
            {#{% endif %}#}
            {#{% if location.surfaceTerrain %}#}
                {#<div class="col s12">#}
                    {#<div class="col s1">#}
                        {#<img class="icone" src="{{ base_dir ~ asset('img/room.png') }}" alt="plan">#}
                    {#</div>#}
                    {#<div class="col offset-s1 s10">#}
                        {#<p class="info">Terrain : {{ location.surfaceTerrain }} m²</p>#}
                    {#</div>#}
                {#</div>#}
            {#{% endif %}#}
        </div>
        <div class="col s6">
            <div class="col s10 push-s2">
                <div class="s12 center cartoucheLoc">
                    <p>{{ location.typeLogement.nom }} - {{ location.surface }} m²</p>
                    <div class="divider col s2"></div>
                    {% if location.date %}
                        <p>Libre au {{ location.date|date('j/m/Y') }}</p>
                        <div class="divider col s2"></div>
                    {% endif %}
                    <p>Loyer {% if location.provision %}HC {% endif %}
                        : {{ location.loyer|number_format(0, '.', ' ') }} €</p>
                    {% if location.provision %}
                        <div class="divider col s2"></div>
                        <p>Charges : {{ location.provision }} €</p>
                    {% endif %}
                    <div class="divider col s2"></div>
                    <p>Honoraires* : {{ honoraires }} €</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 messageLoc">
            <div class="col s12">
                <div class="greenMyO center mail">Votre contact My Orléans : Emilie Marais</div>
            </div>
            <div class="col s5">
                <p class="infoContact">emilie.marais@my-orleans.fr</p>
            </div>
            <div class="col s2">
                <p class="infoContact center">02 38 75 94 47</p>
            </div>
            <div class="col s5">
                <p class="infoContact right">13 rue Bannier 45000 Orléans</p>
            </div>
        </div>
        <p>*Honoraires de mise en location + honoraires de l'état des lieux</p>
    </div>
</div>

<!--Import jQuery before materialize.js-->

{#<script type="text/javascript" src="{{ absolute_url(asset('js/jquery-3.1.1.min.js')) }}"></script>#}
<script type="text/javascript" src="{{ base_dir ~ asset('js/jquery-3.1.1.min.js') }}"></script>

{#<script type="text/javascript" src="{{ absolute_url(asset('js/materialize.js')) }}"></script>#}
<script type="text/javascript" src="{{ base_dir ~ asset('js/materialize.js') }}"></script>

</body>

</html>

