<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8"/>


    {#<link rel="stylesheet" href="{{ absolute_url(asset('css/materialize.css')) }}" media="screen,projection"/>#}
    <link rel="stylesheet" href="{{ base_dir ~ asset('css/materialize.css') }}" media="screen,projection"/>


    {#<link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet"/>#}
    <link href="{{ base_dir ~ asset('css/pdf.css') }}" rel="stylesheet"/>


    {#<link href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" rel="stylesheet">#}

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col s4 left-align adresse">
            <p>13 rue Bannier</p>
            <p class="greenMyO">45000 ORLEANS</p>
        </div>
        <div class="col s4">
            <img src="{{ base_dir ~ asset('img/logo_myorleans.png') }}">
        </div>
        <div class="col s4 right-align contact">
            <p>{{ telephone_number }}</p>
            <p class="greenMyO">{{ mail_agence }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 titre center">
            <div class="trait"></div>
            <div class="situation">
                <span class="residence">{{ residence.nom }}</span>
                <p class="ville">{{ residence.ville.nom }}{% if residence.quartier != null %} {{ residence.quartier.nom }}{% endif %}</p>
                <span class="reference">Réf : {{ flat.reference }} - {{ flat.prix|number_format(0, '.', ' ') }} €</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% for media in flat.medias if media.typeMedia.nom == 'plan' %}
                <img class="plan"
                     src="{{ base_dir ~ asset('uploads/'~media.mediaName) }}"
                     alt="plan">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/boussole.png') }}" alt="boussole">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">Séjour : {{ flat.expositionSejour }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/Parking.png') }}" alt="voiture">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">{{ flat.stationnement }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/floor.png') }}" alt="revetement">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">Séjour : {{ flat.solSejour }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/floor.png') }}" alt="revetement">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">Chambre : {{ flat.solChambre }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/floor.png') }}" alt="revetement">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">Salle de bains : {{ flat.solSdb }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/menuiserie.png') }}" alt="menuiserie">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">{{ flat.menuiserie }}</p>
                </div>
            </div>
            <div class="col s12">
                <div class="col s1">
                    <img class="icone" src="{{ base_dir ~ asset('img/chauffage.png') }}" alt="chauffage">
                </div>
                <div class="col offset-s1 s10">
                    <p class="info">{{ flat.chauffage }}</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="col s10 push-s2">
                <div class="s12 center cartouche">
                    <p>{{ flat.typeLogement.nom }} - {{ flat.surface }} m²</p>
                    <div class="divider col s2"></div>
                    <p>{{ flat.prix|number_format(0, '.', ' ') }} €</p>
                    <div class="divider col s2"></div>
                    <p>{{ flat.dateLivraison }}</p>
                    {% if residence.eligibilitePinel == 1 %}
                        <div class="divider col s2"></div>
                        <p>Eligible Pinel</p>
                    {% endif %}
                </div>
                <div class="col s10 push-s1">
                    {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                        <img class="residencePhoto img-responsive" src="{{ base_dir ~ asset('uploads/'~media.mediaName) }}"
                             alt="résidence">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->

    {#<script type="text/javascript" src="{{ absolute_url(asset('js/jquery-3.1.1.min.js')) }}"></script>#}
    <script type="text/javascript" src="{{ base_dir ~ asset('js/jquery-3.1.1.min.js') }}"></script>

    {#<script type="text/javascript" src="{{ absolute_url(asset('js/materialize.js')) }}"></script>#}
    <script type="text/javascript" src="{{ base_dir ~ asset('js/materialize.js') }}"></script>

</body>

</html>

