{% extends '::base.html.twig' %}

{% block body %}
    <!-- formulaire de reception d'un contact -->
    <h1>Reception du formulaire de contact</h1>
    <div>
        <p>Vous avez reçu un nouveau message de <strong>{{ client.civilite }} {{ client.nom }}</strong></p>
    </div>

    <div>
        <p><strong>Mail :</strong> {{ client.email }}</p>
        <p><strong>Téléphone :</strong> {{ client.telephone }}</p>
        <p><strong>Code postal :</strong> {{ client.codePostal }}</p>
        <p><strong>Projet :</strong> {{ client.projet }}</p>
        <p><strong>Type de Logement:</strong> {% for type in client.typeLogement %}{{ type }} {% endfor %}</p>
        <p><strong>Budget :</strong> {{ client.budget }}</p>
        <p><strong>Sujet :</strong> {{ client.sujet }}</p>
        <p><strong>Message :</strong> {{ client.message }}</p>

        {% if client.newsletter == 0 %}
            <p><strong>Inscription newsletter:</strong> non </p>
        {% else %}
            <p><strong>Inscription newsletter:</strong> oui </p>
        {% endif %}
    </div>
{% endblock %}




