{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/residence.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col offset-s1 retourSearch">
            <a class="waves-effect waves-light btn"
               href="{{ path("nosresidences") }}">
                <i class="fa fa-caret-left white-text"></i> RETOUR AUX RÉSIDENCES</a>
        </div>
    </div>

    <!-- Slider Residence -->
    <div class="sliderResidence">
        <div class="slider">
            <ul class="slides">
                <li>
                    {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                        <img id="image" src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                    {% endfor %}
                    <div id="surCouche">
                        <!-- Remplacement de #image et #surCouche par #ytplayer avec la fonction onclick -->
                        <a href="#" {% if residence.lienYoutube != null %}onclick="imageByYoutube()"{% endif %}><i
                                    class="material-icons white-text">play_circle_outline</i></a>
                        <div class="encart center">
                            <h2>{{ residence.nom }}</h2>
                            <p>{{ residence.ville.nom }}{% if residence.quartier != null %} - {{ residence.quartier.nom }}{% endif %}
                            </p>
                        </div>
                    </div>
                    <iframe id="ytplayer" type="text/html"
                            src="http://www.youtube.com/embed/{{ residence.lienYoutube }}?autoplay=0&modestbranding=1&rel=0&showinfo=0"
                            frameborder="0"></iframe>
                </li>
                {% for media in residence.medias if media.typeMedia.nom == 'image' %}
                    <li>
                        <img src="{{ asset('uploads/'~media.mediaName) }}" alt="résidence">
                    </li>
                {% endfor %}
            </ul>
            <div class="col s12">
                <button class="prev btn-flat"><i class="material-icons white-text">chevron_left</i></button>
                <button class="next btn-flat"><i class="material-icons white-text">chevron_right</i></button>
            </div>
                <div class="cartouche">
                    <div class="row">
                        <p class="col s12 l6 xl3">Prix : {{ prixMin|number_format(0, '.', ' ') }}€</p>
                        <p class="col s12 l6 xl5">Livraison {{ residence.dateLivraison }}</p>
                        <p class="col s6 l6 xl2">Du {{ typeMin }} au {{ typeMax }}</p>
                        <p class="col s6 l6 xl2">Locatif</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col offset-xl1 s12 l5 xl4 center situation">
            <h1>{{ residence.ville.nom }}</h1>
            <p>{% if residence.quartier != null %}quartier {{ residence.quartier.nom }}{% endif %}</p>
        </div>
        <div class="col offset-xl1 s12 l7 xl6 box-notesite">
                <div class="row">
                    <ul>
                        <li class="design col s6 m3">
                            <div class="notesite" id="note_0" data-note="{{ residence.noteTransports|number_format(2,'.') }}"></div>
                            <br/>
                            <div class="list-legend">
                                <div class="row center-align">
                                    <ul>
                                        <li class="design col m12">transports</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="content col s6 m3">
                            <div class="notesite" id="note_3" data-note="{{ residence.noteCommerces|number_format(2,'.') }}"></div>
                            <br/>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">commerces</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="creativity col s6 m3">
                            <div class="notesite" id="note_1" data-note="{{ residence.noteServices|number_format(2,'.') }}"></div>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">services</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="usability col s6 m3">
                            <div class="notesite" id="note_2" data-note="{{ residence.noteEsthetisme|number_format(2,'.') }}"></div>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">esthétisme</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- pour les notes, on les rentre de BAS EN HAUT. celle du bas est donc transport, celle du haut esthétisme  -->
                    </ul>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/testcompteur.js') }}"></script>
    {#<script src="{{ asset('js/jquery.circliful.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/aos.js') }}"></script>#}
    <script type="text/javascript">
        function imageByYoutube() {
            document.getElementById('image').style.display = 'none';
            document.getElementById('surCouche').style.display = 'none';
            document.getElementById('ytplayer').style.display = 'block';
            document.getElementById('ytplayer').src = 'http://www.youtube.com/embed/{{ residence.lienYoutube }}?autoplay=1&modestbranding=1&rel=0&showinfo=0';
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Slider residence
            $('.slider').slider({
                indicators: false,
                interval: 12000,
                height: null
            },'pause');

            $('.slider').slider('pause');

            $('.next').click(function () {
                $('.slider').slider('next');
            });
            $('.prev').click(function () {
                $('.slider').slider('prev');
            });

            $('select').material_select();

            $('.parallax').parallax();

            $('.carousel').carousel({
                indicators: true,
                dist: 0,
                shift: 20,
                duration: 100
            });
        });
    </script>
{% endblock %}