{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block title %}My ORLEANS | Résidence {{ residence.nom }} - {{ residence.ville.nom }} (45){% endblock %}

{% block description %}
    <meta name="description" content="{{ residence.description | truncate(155, true, '...') }}"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/residence.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div id="residence">
        <!-- bouton retour Nos Résidences -->
        <div class="row">
            <div class="col offset-s1 retourSearch1">
                <a class="waves-effect waves-light btn"
                   href="{{ path("nosresidences") }}">
                    <i class="fa fa-caret-left white-text"></i> RETOUR AUX RÉSIDENCES</a>
            </div>
        </div>

        <!-- Slider Residence -->
        <div class="sliderResidence">
            <div class="slider">
                <ul class="slides">
                    <!-- 1ere slide -->
                    <li>
                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                            <!-- affichage de la photo principale -->
                            <img id="image" src="{{ asset('uploads/'~media.mediaName) }}"
                                 alt="photo principale résidence {{ residence.nom }}">
                        {% endfor %}
                        {% if residence.lienYoutube != null %}
                            <!-- bouton play pour le lien youtube -->
                            <a href="#modalYtp"><i class="material-icons white-text">play_circle_outline</i></a>
                        {% endif %}
                        <!-- affchage du nom et du lieu de la résidence -->
                        <div class="encart center">
                            <h1>{{ residence.nom }}</h1>
                            <h2>{{ residence.ville.nom }}{% if residence.quartier != null %} - {{ residence.quartier.nom }}{% endif %}</h2>
                        </div>

                    </li>
                    <!-- affichage des slides restantes -->
                    {% for media in residence.medias if media.typeMedia.nom == 'image' %}
                        <li>
                            <img src="{{ asset('uploads/'~media.mediaName) }}"
                                 alt="photo {{ loop.index }} résidence {{ residence.nom }}">
                            {% if residence.lienYoutube != null %}
                                <!-- bouton play pour le lien youtube -->
                                <a href="#modalYtp"><i class="material-icons white-text">play_circle_outline</i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Modal Video Youtube -->
        <div id="modalYtp" class="modal">
            <div class="modal-content">
                <div class="video-container">
                    <iframe src="http://www.youtube.com/embed/{{ residence.lienYoutube }}?autoplay=0&modestbranding=1&rel=0&showinfo=0&vq=hd720"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- 2nde Navbar pour acceder au contenu de la page -->
    <div class="row">
        <div class="col offset-l2 s12 l8 hide-on-med-and-down" id="menuResidence">
            <nav>
                <div class="nav-wrapper center">
                    <ul>
                        <li class="col s4" id="residenceNav"><a href="#anchor-residence">La résidence</a></li>
                        <li class="col s4" id="localisationNav"><a href="#anchor-localisation">Localisation</a></li>
                        <li class="col s4" id="bienNav"><a href="#anchor-bien">Nos biens</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <!-- affichage des infos de la résidence -->
        <div class="col offset-xl1 s12 l5 xl4 cartouche">
            <span class="col s12 center">À partir de {{ prixMin|number_format(0, '.', ' ') }}€</span>
            <div class="cartoucheInfo">
                <p class="col s12">Livraison {{ residence.dateLivraison }}</p>
                {% if typeMin == typeMax %}
                    <p class="col s12">{{ typeMin }}</p>
                {% else %}
                    <p class="col s12">Du {{ typeMin }} au {{ typeMax }}</p>
                {% endif %}
                {% transchoice flatsDispo %}
                {0} <p class="col s12">Aucun lot disponible</p> |
                {1} <p class="col s12">%count% lot disponible</p> |
                ]1,Inf[ <p class="col s12">%count% lots disponibles</p>
                {% endtranschoice %}
            </div>
        </div>

        <!-- Compteurs Notes -->
        <div class="col offset-xl1 s12 l7 xl5 box-notesite hide-on-med-and-down">
            <div class="row">
                <ul>
                    <li class="design col s6 m3">
                        <div class="notesite" id="note_0"
                             data-note="{{ residence.noteTransports|number_format(2,'.') }}"></div>
                        <br/>
                        <div class="list-legend">
                            <div class="row center-align">
                                <ul>
                                    <li class="design col m12">transports</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="content col s6 m3">
                        <div class="notesite" id="note_3"
                             data-note="{{ residence.noteCommerces|number_format(2,'.') }}"></div>
                        <br/>
                        <div class="list-legend">
                            <div class="row">
                                <ul>
                                    <li class="design col m12">commerces</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="creativity col s6 m3">
                        <div class="notesite" id="note_1"
                             data-note="{{ residence.noteServices|number_format(2,'.') }}"></div>
                        <div class="list-legend">
                            <div class="row">
                                <ul>
                                    <li class="design col m12">services</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="usability col s6 m3">
                        <div class="notesite" id="note_2"
                             data-note="{{ residence.noteEsthetisme|number_format(2,'.') }}"></div>
                        <div class="list-legend">
                            <div class="row">
                                <ul>
                                    <li class="design col m12">esthétisme</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 center hide-on-large-only offreSmall">
        <!-- affichage offre mobile -->
        <p>{{ residence.offre }}</p>
    </div>

    <div id="anchor-residence"></div>

    <!-- Description Résidence -->
    <div class="row">
        <div class="col s12 accrocheResidence">
            <!-- description de la résidence -->
            <div class="col offset-l2 l6">
                <h3 class="center accroche">{{ residence.accroche }}</h3>
                <div class="description">{{ residence.description | raw }}</div>
            </div>

            <div class="col offset-l1 l2 normeLabel">
                {% if residence.eligibilitePinel == 1 %}
                    <img class="responsive-img col offset-l2 l7 offset-s2 s3" src="{{ asset('img/pinel.png') }}"
                         alt="logo dispositif Pinel">
                {% endif %}
                {% if residence.normeThermique == 'RT2012' %}
                    <img class="responsive-img col offset-l2 l7 offset-s2 s3" src="{{ asset('img/rt2012.png') }}"
                         alt="logo rt2012">
                {% elseif residence.normeThermique == 'BBC' %}
                    <img class="responsive-img col offset-l2 l7 offset-s2 s3" src="{{ asset('img/bbc.png') }}"
                         alt="logo BBC">
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Effet Parallax -->
    <div class="parallax-container hide-on-med-and-down">
        <div class="parallax">
            {% for media in residence.medias %}
                {% if media.typeMedia.nom == "image-header" %}
                    <img src="{{ asset('uploads/'~media.mediaName) | imagine_filter('thumb_photo_residence') }}"
                         alt="illustration {{ residence.nom }}">
                {% else %}
                    <img src="{{ asset('img/apt-neuf.jpg') }}" alt="interieur appartement">
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <span class="accroche2 col offset-l2 l8 center">"{{ residence.accroche2 }}"</span>
        </div>
    </div>

    <div id="anchor-localisation"></div>

    <!-- Situation Résidence GoogleMap -->

    <h1 class="hide-on-med-and-down">Situation de la résidence</h1>

    <div class="row hide-on-med-and-down googleMap">

        <!-- Carte GoogleMap -->
        <div class="col offset-l1 offset-xl2 s12 l7 xl6">
            <div class="card" id="map"></div>
            <p class="adresse">{{ residence.adresse }} {{ residence.codePostal }} {{ residence.ville.nom }}</p>
        </div>

        <!-- Filtre Places GoogleMap -->
        <div class="col xl2 l3 s12 center filtreMap">
            <div class="commerce col s4 l12">
                <div class="row">
                    <p class="col s12 offset-l2 l8">Commerces</p>
                </div>
                <div class="row" id="commerce"></div>
            </div>
            <div class="service col s4 l12">
                <div class="row">
                    <p class="col s12 offset-l3 l6">Services</p>
                </div>
                <div class="row" id="service"></div>
            </div>
            <div class="transport col s4 l12">
                <div class="row">
                    <p class="col s12 offset-l2 l8">Transports</p>
                </div>
                <div class="row" id="transport"></div>
            </div>
        </div>
    </div>

    <div id="anchor-bien"></div>

    <!-- Tableau lots disponibles -->
    <h1>Consultez nos biens disponibles</h1>

    <div class="row">
        <div class="col offset-l1 offset-xl2 s12 l10 xl8">
            <div class="accordeon-residence center">
                <!-- entête du tableau -->
                <div class="row accordeon-entete">
                    <div class="col s1 colRef">Réf</div>
                    <div class="col s2 colType">Type</div>
                    <div class="col s3 colSurface">Surface Habitable</div>
                    <div class="col s4 l3 colPrix">Prix</div>
                    <div class="col s2 l3 colDispo">Disponibilité</div>
                </div>
                <ul class="collapsible" data-collapsible="accordion">
                    {% if flatsT1 != null %}
                        <!-- tableau des T1 -->
                        <li>
                            <!-- entête des T1 -->
                            <div class="collapsible-header">
                                <div class="row">
                                    <div class="col offset-s1 s2">1 pièce</div>
                                    <div class="col s3">
                                        {% if T1Dispo %}
                                            {% if T1Dispo | length == 1 %}

                                                {% for flat in T1Dispo %}
                                                    {{ flat.surface|number_format(0) }} m<sup>2</sup>
                                                {% endfor %}

                                            {% elseif T1Dispo | length > 1 %}

                                                {% for flat in T1Dispo %}
                                                    {% if loop.first %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup> à
                                                {% for flat in T1Dispo %}
                                                    {% if loop.last %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s4 l3">
                                        {% if residence.affichagePrix %}
                                            {% for flat in flatsT1 if flat.statut %}
                                                {% if loop.first %}à partir de {{ flat.prix|number_format(0, '.', ' ') }} €{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if T1Dispo %}nous contacter{% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s2 hide-on-med-and-up">
                                        <div class="btn greenMyO">
                                            {{ T1Dispo | length }}
                                        </div>
                                    </div>
                                    <div class="col l3 hide-on-small-only">
                                        <div class="btn greenMyO">
                                            {% transchoice T1Dispo | length %}
                                            {0} %count% logement |
                                            {1} %count% logement |
                                            ]1,Inf[ %count% logements
                                            {% endtranschoice %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- corps des T1 -->
                            <div class="collapsible-body">
                                {% for flat in flatsT1 %}
                                    <div class="row" data-info="programme neuf {{ residence.nom }} {{ residence.ville.nom }}">
                                        {% if flat.statut %}
                                            <a href="{{ path('appartement', { 'slug': residence.slug, 'reference': flat.reference }) }}">
                                                <div class="col s1">{{ flat.reference }}</div>
                                                <div class="col s2">{{ flat.typeLogement.nom }}</div>
                                                <div class="col s3">{{ flat.surface }} m<sup>2</sup></div>
                                                <div class="col s4 l3">
                                                    {% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </div>
                                                <div class="col s2 l3">
                                                    <div class="btn white black-text">Voir</div>
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="col offset-s1 s2"><i>{{ flat.typeLogement.nom }}</i></div>
                                            <div class="col s3"><i>{{ flat.surface }} m<sup>2</sup></i></div>
                                            <div class="col s4 l3">
                                                <i>
                                                    {% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </i>
                                            </div>
                                            <div class="col s2 l3"><i>Vendu</i>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if flatsT2 != null %}
                        <!-- tableau des T2 -->
                        <li>
                            <!-- entête des T2 -->
                            <div class="collapsible-header">
                                <div class="row">
                                    <div class="col offset-s1 s2">2 pièces</div>
                                    <div class="col s3">
                                        {% if T2Dispo %}
                                            {% if T2Dispo | length == 1 %}

                                                {% for flat in T2Dispo %}
                                                    {{ flat.surface|number_format(0) }} m<sup>2</sup>
                                                {% endfor %}

                                            {% elseif T2Dispo | length > 1 %}

                                                {% for flat in T2Dispo %}
                                                    {% if loop.first %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup> à
                                                {% for flat in T2Dispo %}
                                                    {% if loop.last %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s4 l3">
                                        {% if residence.affichagePrix %}
                                            {% for flat in flatsT2 if flat.statut %}
                                                {% if loop.first %}à partir de {{ flat.prix|number_format(0, '.', ' ') }} €{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if T2Dispo %}nous contacter{% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s2 hide-on-med-and-up">
                                        <div class="btn greenMyO">
                                            {{ T2Dispo | length }}
                                        </div>
                                    </div>
                                    <div class="col l3 hide-on-small-only">
                                        <div class="btn greenMyO">
                                            {% transchoice T2Dispo | length %}
                                            {0} %count% logement |
                                            {1} %count% logement |
                                            ]1,Inf[ %count% logements
                                            {% endtranschoice %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- corps des T2 -->
                            <div class="collapsible-body">
                                {% for flat in flatsT2 %}
                                    <div class="row" data-info="programme neuf {{ residence.nom }} {{ residence.ville.nom }}">
                                        {% if flat.statut %}
                                            <a href="{{ path('appartement', { 'slug': residence.slug, 'reference': flat.reference }) }}">
                                                <div class="col s1">{{ flat.reference }}</div>
                                                <div class="col s2">{{ flat.typeLogement.nom }}</div>
                                                <div class="col s3">{{ flat.surface }} m<sup>2</sup></div>
                                                <div class="col s4 l3">
                                                    {% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </div>
                                                <div class="col s2 l3">
                                                    <div class="btn white black-text">Voir</div>
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="col offset-s1 s2"><i>{{ flat.typeLogement.nom }}</i></div>
                                            <div class="col s3"><i>{{ flat.surface }} m<sup>2</sup></i></div>
                                            <div class="col s4 l3">
                                                <i>{% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </i>
                                            </div>
                                            <div class="col s2 l3"><i>Vendu</i>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if flatsT3 != null %}
                        <!-- tableau des T3 -->
                        <li>
                            <!-- entête des T3 -->
                            <div class="collapsible-header">
                                <div class="row">
                                    <div class="col offset-s1 s2">3 pièces</div>
                                    <div class="col s3">
                                        {% if T3Dispo %}
                                            {% if T3Dispo | length == 1 %}

                                                {% for flat in T3Dispo %}
                                                    {{ flat.surface|number_format(0) }} m<sup>2</sup>
                                                {% endfor %}

                                            {% elseif T3Dispo | length > 1 %}

                                                {% for flat in T3Dispo %}
                                                    {% if loop.first %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup> à
                                                {% for flat in T3Dispo %}
                                                    {% if loop.last %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s4 l3">
                                        {% if residence.affichagePrix %}
                                            {% for flat in flatsT3 if flat.statut %}
                                                {% if loop.first %}à partir de {{ flat.prix|number_format(0, '.', ' ') }} €{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if T3Dispo %}nous contacter{% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s2 hide-on-med-and-up">
                                        <div class="btn greenMyO">
                                            {{ T3Dispo | length }}
                                        </div>
                                    </div>
                                    <div class="col l3 hide-on-small-only">
                                        <div class="btn greenMyO">
                                            {% transchoice T3Dispo | length %}
                                            {0} %count% logement |
                                            {1} %count% logement |
                                            ]1,Inf[ %count% logements
                                            {% endtranschoice %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- corps des T3 -->
                            <div class="collapsible-body">
                                {% for flat in flatsT3 %}
                                    <div class="row" data-info="programme neuf {{ residence.nom }} {{ residence.ville.nom }}">
                                        {% if flat.statut %}
                                            <a href="{{ path('appartement', { 'slug': residence.slug, 'reference': flat.reference }) }}">
                                                <div class="col s1">{{ flat.reference }}</div>
                                                <div class="col s2">{{ flat.typeLogement.nom }}</div>
                                                <div class="col s3">{{ flat.surface }} m<sup>2</sup></div>
                                                <div class="col s4 l3">
                                                    {% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </div>
                                                <div class="col s2 l3">
                                                    <div class="btn white black-text">Voir</div>
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="col offset-s1 s2"><i>{{ flat.typeLogement.nom }}</i></div>
                                            <div class="col s3"><i>{{ flat.surface }} m<sup>2</sup></i></div>
                                            <div class="col s4 l3">
                                                <i>{% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </i>
                                            </div>
                                            <div class="col s2 l3"><i>Vendu</i>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if flatsT4 != null %}
                        <!-- tableau des T4 -->
                        <li>
                            <!-- entête des T4 -->
                            <div class="collapsible-header">
                                <div class="row">
                                    <div class="col offset-s1 s2">4 pièces</div>
                                    <div class="col s3">
                                        {% if T4Dispo %}
                                            {% if T4Dispo | length == 1 %}

                                                {% for flat in T4Dispo %}
                                                    {{ flat.surface|number_format(0) }} m<sup>2</sup>
                                                {% endfor %}

                                            {% elseif T4Dispo | length > 1 %}

                                                {% for flat in T4Dispo %}
                                                    {% if loop.first %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup> à
                                                {% for flat in T4Dispo %}
                                                    {% if loop.last %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s4 l3">
                                        {% if residence.affichagePrix %}
                                            {% for flat in flatsT4 if flat.statut %}
                                                {% if loop.first %}à partir de {{ flat.prix|number_format(0, '.', ' ') }} €{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if T4Dispo %}nous contacter{% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s2 hide-on-med-and-up">
                                        <div class="btn greenMyO">
                                            {{ T4Dispo | length }}
                                        </div>
                                    </div>
                                    <div class="col l3 hide-on-small-only">
                                        <div class="btn greenMyO">
                                            {% transchoice T4Dispo | length %}
                                            {0} %count% logement |
                                            {1} %count% logement |
                                            ]1,Inf[ %count% logements
                                            {% endtranschoice %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- corps des T4 -->
                            <div class="collapsible-body">
                                {% for flat in flatsT4 %}
                                    <div class="row" data-info="programme neuf {{ residence.nom }} {{ residence.ville.nom }}">
                                        {% if flat.statut %}
                                            <a href="{{ path('appartement', { 'slug': residence.slug, 'reference': flat.reference }) }}">
                                                <div class="col s1">{{ flat.reference }}</div>
                                                <div class="col s2">{{ flat.typeLogement.nom }}</div>
                                                <div class="col s3">{{ flat.surface }} m<sup>2</sup></div>
                                                <div class="col s4 l3">
                                                    {% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </div>
                                                <div class="col s2 l3">
                                                    <div class="btn white black-text">Voir</div>
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="col offset-s1 s2"><i>{{ flat.typeLogement.nom }}</i></div>
                                            <div class="col s3"><i>{{ flat.surface }} m<sup>2</sup></i></div>
                                            <div class="col s4 l3">
                                                <i>{% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </i>
                                            </div>
                                            <div class="col s2 l3"><i>Vendu</i>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if flatsT5 != null %}
                        <!-- tableau des T5 -->
                        <li>
                            <!-- entête des T5 -->
                            <div class="collapsible-header">
                                <div class="row">
                                    <div class="col offset-s1 s2">5 pièces et plus</div>
                                    <div class="col s3">
                                        {% if T5Dispo %}
                                            {% if T5Dispo | length == 1 %}

                                                {% for flat in T5Dispo %}
                                                    {{ flat.surface|number_format(0) }} m<sup>2</sup>
                                                {% endfor %}

                                            {% elseif T5Dispo | length > 1 %}

                                                {% for flat in T5Dispo %}
                                                    {% if loop.first %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup> à
                                                {% for flat in T5Dispo %}
                                                    {% if loop.last %}{{ flat.surface|number_format(0) }}{% endif %}
                                                {% endfor %}
                                                m<sup>2</sup>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s4 l3">
                                        {% if residence.affichagePrix %}
                                            {% for flat in flatsT5 if flat.statut %}
                                                {% if loop.first %}à partir de {{ flat.prix|number_format(0, '.', ' ') }} €{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if T5Dispo %}nous contacter{% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col s2 hide-on-med-and-up">
                                        <div class="btn greenMyO">
                                            {{ T5Dispo | length }}
                                        </div>
                                    </div>
                                    <div class="col l3 hide-on-small-only">
                                        <div class="btn greenMyO">
                                            {% transchoice T5Dispo | length %}
                                            {0} %count% logement |
                                            {1} %count% logement |
                                            ]1,Inf[ %count% logements
                                            {% endtranschoice %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- corps des T5 -->
                            <div class="collapsible-body">
                                {% for flat in flatsT5 %}
                                    <div class="row" data-info="programme neuf {{ residence.nom }} {{ residence.ville.nom }}">
                                        {% if flat.statut %}
                                            <a href="{{ path('appartement', { 'slug': residence.slug, 'reference': flat.reference }) }}">
                                                <div class="col s1">{{ flat.reference }}</div>
                                                <div class="col s2">{{ flat.typeLogement.nom }}</div>
                                                <div class="col s3">{{ flat.surface }} m<sup>2</sup></div>
                                                <div class="col s4 l3">
                                                    {% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </div>
                                                <div class="col s2 l3">
                                                    <div class="btn white black-text">Voir</div>
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="col offset-s1 s2"><i>{{ flat.typeLogement.nom }}</i></div>
                                            <div class="col s3"><i>{{ flat.surface }} m<sup>2</sup></i></div>
                                            <div class="col s4 l3">
                                                <i>{% if residence.affichagePrix %}
                                                        {{ flat.prix|number_format(0, '.', ' ') }} €
                                                    {% endif %}
                                                </i>
                                            </div>
                                            <div class="col s2 l3"><i>Vendu</i>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- bouton retour à Nos Résidences -->
        <div class="col offset-s1 retourSearch2">
            <a class="waves-effect waves-light btn"
               href="{{ path("nosresidences") }}">
                <i class="fa fa-caret-left white-text"></i> RETOUR AUX RÉSIDENCES</a>
        </div>
    </div>

    <!-- Suggestion residence -->
    <h1>La sélection My Orléans</h1>

    <div class="row">
        <div class="col offset-l1 s12 l10">
            <div class="row">
                {% for residence in residencesSuggerees %}
                    <div class="col s6 l3">
                        <div class="card">
                            <div class="card-image">
                                <a href="{{ path('residences', { 'slug': residence.slug, 'Ville': residence.ville.slug }) }}">
                                    {% if residence.medias is not empty %}
                                        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
                                            <img src="{{ asset('uploads/'~media.mediaName) | imagine_filter('thumb_residence') }}"
                                                 alt="residence {{ residence.nom }}">
                                        {% endfor %}
                                    {% endif %}
                                    <div class="card-title">
                                        <div class="card-content bandeau">
                                            <span class="titreSuggest">{{ residence.nom }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- début formulaire de contact -->
    <form method="post" action="">
        <div id="slide-out" class="side-nav formulaireVolet">
            <div class="userView">
                <div class="closeSideNav"><a href="#"><i class="material-icons">close</i></a></div>
                <div class="contactNous center">Contactez nous !</div>
                <div class="contactTel center">{{ telephone_number }}</div>
                {{ form_start(form) }}

                <div class="row center">
                    <div class="input-field col s12">
                        {{ form_widget(form.civilite) }}
                        {{ form_errors(form.civilite) }}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.codePostal) }}
                        {{ form_widget(form.codePostal) }}
                        {{ form_errors(form.codePostal) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">phone</i>
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>
                </div>
                <p class="newsletter">Quel est votre projet ?</p>
                <div class="row">
                    <div class="col s12 center">
                        {{ form_widget(form.projet) }}
                        {{ form_errors(form.projet) }}
                    </div>

                    <div class="col s12 center">
                        {{ form_widget(form.typeLogement) }}
                        {{ form_errors(form.typeLogement) }}
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">euro_symbol</i>
                        {{ form_label(form.budget) }}
                        {{ form_widget(form.budget) }}
                        {{ form_errors(form.budget) }}
                    </div>
                </div>
                <p class="newsletter">Quel est l'objet de votre message?</p>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">info_outline</i>
                        {{ form_label(form.sujet) }}
                        {{ form_widget(form.sujet, {'attr': {'value':'Documentation - '~residence.nom }}) }}
                        {{ form_errors(form.sujet) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message, {'attr': {'placeholder':'Bonjour, je souhaiterais recevoir des informations, merci de me contacter rapidement!'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
                <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>
                <div class="row center">
                    <div class="col s12 center">
                        {{ form_widget(form.newsletter) }}
                        {{ form_errors(form.newsletter) }}
                    </div>
                </div>

                <div class="col l12 newsletter">
                    {{ form_row(form.envoyer) }}
                </div>
                <p class="newsletter"><i>* Champs requis</i></p>
                {{ form_end(form) }}
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        //ajout de la classe "active" dans la NavBar
        jQuery(document).ready(function ($) {
            $(document.getElementById("nosResidences")).addClass('active');
        });
    </script>
    <script type="text/javascript">
        //effet sticky de la 2nde NavBar
        jQuery(document).ready(function ($) {
            $(window).scroll(function () {

                var scrollTop = $(window).scrollTop(),

                    scroll = document.getElementById("residence").offsetHeight,

                    nav = document.getElementById("nav").offsetHeight,

                    menu = $(document.getElementById("menuResidence"));

                if (scrollTop >= scroll) {
                    menu.css({
                        position: 'fixed',
                        top: nav
                    });
                }
                if (scrollTop <= scroll) {
                    menu.removeAttr('style');
                }
            })
        });
    </script>
    <script type="text/javascript">
        //ajout-suppression de la classe "active" dans la 2nde NavBar selon la position de la page
        jQuery(document).ready(function ($) {
            $(window).scroll(function () {

                var scrollTop = $(window).scrollTop(),
                    nav = 150;

                if (scrollTop >= document.getElementById("anchor-residence").offsetTop - nav) {
                    $(document.getElementById("residenceNav")).addClass('active');
//                    $(document.getElementById("offre")).addClass('zoomOffre');
                }

                if (scrollTop < document.getElementById("anchor-residence").offsetTop - nav) {
                    $(document.getElementById("residenceNav")).removeClass('active');
                }

                if (scrollTop >= document.getElementById("anchor-localisation").offsetTop - nav) {
                    $(document.getElementById("localisationNav")).addClass('active');
                    $(document.getElementById("residenceNav")).removeClass('active');
                }

                if (scrollTop < document.getElementById("anchor-localisation").offsetTop - nav) {
                    $(document.getElementById("localisationNav")).removeClass('active');
                }

                if (scrollTop >= document.getElementById("anchor-bien").offsetTop - nav) {
                    $(document.getElementById("bienNav")).addClass('active');
                    $(document.getElementById("localisationNav")).removeClass('active');
                }

                if (scrollTop < document.getElementById("anchor-bien").offsetTop - nav) {
                    $(document.getElementById("bienNav")).removeClass('active');
                }
            })
        });
    </script>
    <script src="{{ asset('js/testcompteur.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Paramètre du Slider residence
            if (window.innerWidth > 992) {
                $('.slider').slider({
                    indicators: true,
                    interval: 12000,
                    height: 600
                });
            }
            if (window.innerWidth <= 992) {
                $('.slider').slider({
                    indicators: true,
                    interval: 12000,
                    height: 300
                });
            }

            $('.slider').slider('pause');

        });
    </script>
    <script>
        //effet smoothScroll
        $(document).ready(function () {
            $('a[href*="anchor-"]').click(function () { // Au clic sur un élément
                var page = $(this).attr('href'); // Page cible
                var speed = 750; // Durée de l'animation (en ms)
                $('html, body').animate({scrollTop: $(page).offset().top - 40}, speed); // Go
                return false;
            });
        });
    </script>
    <script type="text/javascript">
        //arrêt de la video à la fermeture de la modal youtube
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('#modalYtp').modal(
                {
                    dismissible: true,
                    complete: function () {
                        $("#modalYtp iframe").attr("src", $("#modalYtp iframe").attr("src"))
                    }

                });
        });
    </script>

    <script>
        //googleMap de la résidence
        $(document).ready(function () {

            //choix des mots-clés pour les filtres
            var commerce = ['boulangerie', 'epicerie', 'supermarche'];
            var service = ['banque', 'school', 'parc', 'pharmacie'];
            var transport = ['train_station', 'arret de tram', 'station de velos'];
            var htmlCommerce = '';
            var htmlService = '';
            var htmlTransport = '';

            //génération des boutons des filtres
            $.each(commerce, function (index, value) {
                var name = value.replace(/_/g, " ");
                htmlCommerce += '<span class="col s4"><input onclick="renderMap()" type="radio" class="type" id="' + value + '" value="' + value + '" name="filtre"/><label for="' + value + '"><img class="filtreMap" src="/img/googleMap/' + value + '.png" alt="logo ' + value + '"/></label></span>';
            });

            $.each(service, function (index, value) {
                var name = value.replace(/_/g, " ");
                htmlService += '<span class="col s3"><input onclick="renderMap()" type="radio" class="type" id="' + value + '" value="' + value + '" name="filtre"/><label for="' + value + '"><img class="filtreMap" src="/img/googleMap/' + value + '.png" alt="logo ' + value + '"/></label></span>';
            });

            $.each(transport, function (index, value) {
                var name = value.replace(/_/g, " ");
                htmlTransport += '<span class="col s4"><input onclick="renderMap()" type="radio" class="type" id="' + value + '" value="' + value + '" name="filtre"/><label for="' + value + '"><img class="filtreMap" src="/img/googleMap/' + value + '.png" alt="logo ' + value + '"/></label></span>';
            });

            $('#commerce').html(htmlCommerce);

            $('#service').html(htmlService);

            $('#transport').html(htmlTransport);
        });

        //formatage des noms des filtres
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        var map;
        var infowindow;
        var selectedTypes = [];

        function initialize() {

            //centrage de la googleMap sur la résidence
            var residence = {lat: {{ residence.latitude }} , lng: {{ residence.longitude }} };

            map = new google.maps.Map(document.getElementById('map'), {
                center: residence,
                zoom: 15

            });

            //remplacement du marker google par celui de My ORLEANS
            var marker = new google.maps.Marker({
                position: residence,
                icon: '../../img/marker.png'
            });

            // To add the marker to the map, call setMap();
            marker.setMap(map);
        }

        function renderMap() {
            // Get the user defined values
            var residence = {lat: {{ residence.latitude }} , lng: {{ residence.longitude }} };
            var radius = 3000;

            // get the selected type
            selectedTypes = [];
            $('.type').each(function () {
                if ($(this).is(':checked')) {
                    selectedTypes.push($(this).val());
                }
            });

            console.log(selectedTypes);

            var geocoder = new google.maps.Geocoder();
            var selLocLat = 0;
            var selLocLng = 0;

            geocoder.geocode({'location': residence}, function (results, status) {
                if (status === 'OK') {
                    //console.log(results[0].geometry.location.lat() + ' - ' + results[0].geometry.location.lng());

                    selLocLat = results[0].geometry.location.lat();
                    selLocLng = results[0].geometry.location.lng();

                    var residence = new google.maps.LatLng(selLocLat, selLocLng);

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: residence,
                        zoom: 15
                    });


                    var marker = new google.maps.Marker({
                        position: residence,
                        map: map,
                        icon: '../../img/marker.png'
                    });

                    //console.log(selectedTypes);

                    var request = {
                        location: residence,
                        radius: radius,
                        keyword: selectedTypes


                    };

                    infowindow = new google.maps.InfoWindow();

                    var service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request, callback);
                }
                else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i], results[i].icon);
                }
            }
        }

        function createMarker(place, icon) {
            var placeLoc = place.geometry.location;

//            var icons = {
//                school: {
//                    icon: '../img/googleMap/school.png'
//                },
//                boulangerie: {
//                    icon: '../img/googleMap/boulangerie.png'
//                }
//            };
//
//            var features = [
//                {
//                    position: place.geometry.location,
//                    keyword: 'school'
//                }, {
//                    position: place.geometry.location,
//                    keyword: 'boulangerie'
//                }
//            ];
//
//            features.forEach(function(feature) {
//                var marker = new google.maps.Marker({
//                    position: feature.position,
//                    icon: {
//                        url: icons[feature.keyword].icon,
//                        scaledSize: new google.maps.Size(36, 36) // pixels
//                    },
//                    map: map
//                });
//            });

            //affichage des résultat du filtre
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location,
                icon: {
                    url: '../../img/marker.png',
                    scaledSize: new google.maps.Size(30, 36) // pixels
//                animation: google.maps.Animation.DROP
                }
            });

            //affichage des informations des resultats du filtre
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name + '<br>' + place.vicinity);
                infowindow.open(map, this);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaGGAaNFdi508AC8JBUs9rhjAOPNnyBU&libraries=places&callback=initialize"
            async defer></script>

{% endblock %}