{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Modifier cette résidence</h4>
                        </div>
                        <div class="card-content table-responsive">

                            {{ form_start(edit_form) }}
                            <div class="row">
                                <div class="col s1">
                                    {{ form_label(edit_form.tri, 'Tri :') }}
                                    {{ form_widget(edit_form.tri) }}
                                    {{ form_errors(edit_form.tri) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.nom, "Nom de la résidence :") }}
                                    {{ form_widget(edit_form.nom) }}
                                    {{ form_errors(edit_form.nom) }}
                                </div>
                                <div class="col s6">  {{ form_label(edit_form.favoris, 'Favoris :') }}
                                    {{ form_widget(edit_form.favoris) }}
                                    {{ form_errors(edit_form.favoris) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.adresse, 'Adresse :') }}
                                    {{ form_widget(edit_form.adresse) }}
                                    {{ form_errors(edit_form.adresse) }}
                                </div>
                                <div class="col s6 padding-top">
                                    {{ form_label(edit_form.quartier, 'Quartier :') }}
                                    {{ form_widget(edit_form.quartier) }}
                                    {{ form_errors(edit_form.quartier) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.codePostal, 'Code Postal :') }}
                                    {{ form_widget(edit_form.codePostal) }}
                                    {{ form_errors(edit_form.codePostal) }}
                                </div>
                                <div class="col s6">
                                    {{ form_label(edit_form.ville, 'Ville :') }}
                                    {{ form_widget(edit_form.ville) }}
                                    {{ form_errors(edit_form.ville) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.offre, 'Offre du moment :') }}
                                    {{ form_widget(edit_form.offre) }}
                                    {{ form_errors(edit_form.offre) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.dateLivraison, 'Date de livraison :') }}
                                    {{ form_widget(edit_form.dateLivraison) }}
                                    {{ form_errors(edit_form.dateLivraison) }}
                                </div>
                                <div class="col s6">
                                    {{ form_label(edit_form.nbTotalLogements, 'Nombre total de logements :') }}
                                    {{ form_widget(edit_form.nbTotalLogements) }}
                                    {{ form_errors(edit_form.nbTotalLogements) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    {{ form_label(edit_form.noteTransports, 'Note transport :') }}
                                    {{ form_widget(edit_form.noteTransports) }}
                                    {{ form_errors(edit_form.noteTransports) }}
                                </div>
                                <div class="col s3">
                                    {{ form_label(edit_form.noteCommerces, 'Note commerce :') }}
                                    {{ form_widget(edit_form.noteCommerces) }}
                                    {{ form_errors(edit_form.noteCommerces) }}
                                </div>
                                <div class="col s3">
                                    {{ form_label(edit_form.noteServices, 'Note service :') }}
                                    {{ form_widget(edit_form.noteServices) }}
                                    {{ form_errors(edit_form.noteServices) }}
                                </div>
                                <div class="col s3">
                                    {{ form_label(edit_form.noteEsthetisme, 'Note esthétisme :') }}
                                    {{ form_widget(edit_form.noteEsthetisme) }}
                                    {{ form_errors(edit_form.noteEsthetisme) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.description, 'Description :') }}
                                    {{ form_widget(edit_form.description) }}
                                    {{ form_errors(edit_form.description) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.accroche, 'Accroche :') }}
                                    {{ form_widget(edit_form.accroche) }}
                                    {{ form_errors(edit_form.accroche) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.accroche2, 'Accroche 2 :') }}
                                    {{ form_widget(edit_form.accroche2) }}
                                    {{ form_errors(edit_form.accroche2) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 padding-top">
                                    {{ form_label(edit_form.normeThermique, 'Norme Thermique :') }}
                                    {{ form_widget(edit_form.normeThermique) }}
                                    {{ form_errors(edit_form.normeThermique) }}
                                </div>
                                <div class="col s6 padding-top">
                                    {{ form_label(edit_form.zone, 'Zone :') }}
                                    {{ form_widget(edit_form.zone) }}
                                    {{ form_errors(edit_form.zone) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 padding-top">
                                    {{ form_label(edit_form.eligibilitePinel, 'Eligibilité Loi Pinel :') }}
                                    {{ form_widget(edit_form.eligibilitePinel) }}
                                    {{ form_errors(edit_form.eligibilitePinel) }}
                                </div>
                                <div class="col s6 padding-top">
                                    {{ form_label(edit_form.affichagePrix, 'Affichage du Prix :') }}
                                    {{ form_widget(edit_form.affichagePrix) }}
                                    {{ form_errors(edit_form.affichagePrix) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.lienYoutube, 'Id Youtube :') }}
                                    {{ form_widget(edit_form.lienYoutube) }}
                                    {{ form_errors(edit_form.lienYoutube) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {% for media in residence.medias %}
                                        {% if media.id != null %}
                                            {{ loop.index0 }}
                                            {% if media.typeMedia.nom == "plaquette" %}
                                                <div class="imgUploader">
                                                    <a href="{{ asset('uploads/'~media.mediaName) }}">
                                                        <img class="responsive-img"
                                                             src="{{ asset('uploads/pdf.jpg') }}"/>
                                                    </a>
                                                </div>
                                            {% elseif media.typeMedia.nom == "notice" %}
                                                <div class="imgUploader">
                                                    <a href="{{ asset('uploads/'~media.mediaName) }}">
                                                        <img class="responsive-img"
                                                             src="{{ asset('uploads/pdf.jpg') }}"/>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="imgUploader"><img class="responsive-img"
                                                                              src="{{ asset('uploads/'~media.mediaName) }}"/>
                                                </div>
                                            {% endif %}
                                            {% if asset('uploads/'~media.mediaName) !=  asset('uploads/default.jpg') %}
                                                <a href="{{ path('article_media_delete', {"id" : residence.id, "media_id" : media.id}) }}">Supprimer</a>
                                                <br>
                                            {% endif %}

                                        {% endif %}
                                    {% endfor %}
                                    <h3>Ajouter une nouvelle image.</h3>
                                    <p>Utilisez le type de média "<b>image-cover</b>" pour afficher une image en
                                        couverture de l'article et illustrer la 1ere image du slider.</p>
                                    <p>Utilisez le type de média "<b>image</b>" pour afficher des images suplémentaires
                                        dans le silder.</p>
                                    <p>Utilisez le type de média "<b>image-header</b>" pour personnaliser le parallax.
                                    </p>
                                    <p>Utilisez le type de média "<b>icone</b>" pour illustrer une offre.
                                    <p>Utilisez le type de média "<b>plaquette</b>" pour associer une plaquette au format Pdf.
                                    <p>Utilisez le type de média "<b>notice</b>" pour associer une notice au format Pdf.
                                    </p> {{ form_widget(edit_form.medias) }}
                                    {{ form_errors(edit_form.medias) }}
                                    <a class="btn-floating btn-large waves-effect waves-light teal lighten-4"
                                       id="add-another-media"><i
                                                class="material-icons">add</i></a>
                                </div>
                            </div>
                            <input class="waves-effect waves-light btn-large light-green" type="submit"
                                   value="Modifier"/>
                            {{ form_end(edit_form) }}
                            <ul>
                                <li>
                                    <a href="{{ path('admin_residence_index') }}"><i
                                                class="material-icons">keyboard_return</i>Retour
                                        à la liste des résidences</a>
                                </li>

                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            // keep track of how many email fields have been rendered
            var mediaCount = '{{ edit_form.medias|length }}';

            jQuery(document).ready(function () {

                jQuery('#add-another-media').click(function (e) { // appbundle_products_add-product
                    e.preventDefault();
                    var mediaList = jQuery('#{{ edit_form.medias.vars.id }}');

                    var newWidget = mediaList.attr('data-prototype');

                    newWidget = newWidget.replace(/<label class="control-label required">__name__label__<\/label>/g, '');
                    newWidget = newWidget.replace(/__name__label__/g, mediaCount);
                    mediaCount++;
                    // create a new list element and add it to the list
                    var newLi = jQuery('<li></li>').html(newWidget);
                    newLi.appendTo(mediaList);
                    $('select').material_select();

                });
            })
        </script>

    {% endblock %}