{% extends '::layout_admin.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Liste de vos realisations</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Tri</th>
                                    <th>Nom</th>
                                    <th>Ville</th>
                                    <th>Aperçu</th>
                                    <th>Éditer</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for realisation in realisations %}
                                    <tr>
                                        <td>{{ realisation.tri }}</td>
                                        <td>{{ realisation.nom }}</td>
                                        <td>{{ realisation.ville }}</td>
                                        <td>
                                            <a href="{{ path('admin_realisation_show', { 'id': realisation.id }) }}"><i
                                                        class="material-icons">remove_red_eye</i></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_realisation_edit', { 'id': realisation.id }) }}"><i
                                                        class="material-icons">build</i></a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <hr>
                            <div class="navigation center">
                                {{ knp_pagination_render(realisations, 'MyToursBundle::pagination.html.twig') }}
                            </div>
                            <ul>
                                <li>

                                    <a href="{{ path('admin_realisation_new') }}"
                                       class="btn-floating btn-large waves-effect waves-light light-green"><i
                                                class="material-icons">add</i>Ajouter un realisation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}