{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title"> Editer une location</h4>
                        </div>
                        <div class="card-content table-responsive">
                            {{ form_start(edit_form) }}
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.reference, "Référence :") }}
                                    {{ form_widget(edit_form.reference) }}
                                    {{ form_errors(edit_form.reference) }}
                                </div>
                                <div class="col s6">
                                    {{ form_label(edit_form.statut, "Statut :") }}
                                    {{ form_widget(edit_form.statut) }}
                                    {{ form_errors(edit_form.statut) }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.typeBien, 'Type de bien :') }}
                                    {{ form_widget(edit_form.typeBien) }}
                                    {{ form_errors(edit_form.typeBien) }}
                                </div>
                                <div class="col s6">
                                    {{ form_label(edit_form.typeLogement, 'Type de logement :') }}
                                    {{ form_widget(edit_form.typeLogement) }}
                                    {{ form_errors(edit_form.typeLogement) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    {{ form_label(edit_form.surface, 'Surface Habitable :') }}
                                    {{ form_widget(edit_form.surface) }}
                                    {{ form_errors(edit_form.surface) }}
                                </div>
                                <div class="col s4">
                                    {{ form_label(edit_form.surfaceBalcon, 'Surface Balcon :') }}
                                    {{ form_widget(edit_form.surfaceBalcon) }}
                                    {{ form_errors(edit_form.surfaceBalcon) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    {{ form_label(edit_form.surfaceTerrasse, 'Surface Terrasse :') }}
                                    {{ form_widget(edit_form.surfaceTerrasse) }}
                                    {{ form_errors(edit_form.surfaceTerrasse) }}
                                </div>
                                <div class="col s4">
                                    {{ form_label(edit_form.surfaceJardin, 'Surface Jardin :') }}
                                    {{ form_widget(edit_form.surfaceJardin) }}
                                    {{ form_errors(edit_form.surfaceJardin) }}
                                </div>
                                <div class="col s4">
                                    {{ form_label(edit_form.surfaceTerrain, 'Surface Terrain :') }}
                                    {{ form_widget(edit_form.surfaceTerrain) }}
                                    {{ form_errors(edit_form.surfaceTerrain) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.stationnement, 'Stationnement: ') }}
                                    {{ form_widget(edit_form.stationnement) }}
                                    {{ form_errors(edit_form.stationnement) }}
                                </div>
                                <div class="col s6">
                                    {{ form_label(edit_form.chauffage, 'Chauffage :') }}
                                    {{ form_widget(edit_form.chauffage) }}
                                    {{ form_errors(edit_form.chauffage) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.ville, 'Ville :') }}
                                    {{ form_widget(edit_form.ville) }}
                                    {{ form_errors(edit_form.ville) }}
                                </div>
                            </div>
                            <div class="row">
                                {{ form_label(edit_form.description, 'Description : ') }}
                                {{ form_widget(edit_form.description) }}
                                {{ form_errors(edit_form.description) }}
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    {{ form_label(edit_form.energie, 'Classe énergitique :') }}
                                    {{ form_widget(edit_form.energie) }}
                                    {{ form_errors(edit_form.energie) }}
                                </div>
                                <div class="col s3">
                                    {{ form_label(edit_form.ges, 'Gaz à effet de serre :') }}
                                    {{ form_widget(edit_form.ges) }}
                                    {{ form_errors(edit_form.ges) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.date, 'Disponibilité: ') }}
                                    <div class="row">
                                        <div class="col s3">{{ form_widget(edit_form.date.day) }}</div>
                                        <div class="col s3">{{ form_widget(edit_form.date.month) }}</div>
                                        <div class="col s3">{{ form_widget(edit_form.date.year) }}</div>
                                    </div>
                                    {{ form_errors(edit_form.date) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    {{ form_label(edit_form.loyer, "Loyer :") }}
                                    {{ form_widget(edit_form.loyer) }}
                                    {{ form_errors(edit_form.loyer) }}
                                </div>
                                <div class="col s4">
                                    {{ form_label(edit_form.provision, "Provision :") }}
                                    {{ form_widget(edit_form.provision) }}
                                    {{ form_errors(edit_form.provision) }}
                                </div>
                                <div class="col s4">
                                    {{ form_label(edit_form.depot, "Dépot :") }}
                                    {{ form_widget(edit_form.depot) }}
                                    {{ form_errors(edit_form.depot) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <h3>Ajoutez des médias</h3>
                                    <p>Utilisez le type de média "<b>image-cover</b>" pour afficher une image en
                                        couverture d'une location</p>
                                    <p>Utilisez le type de média "<b>image</b>" pour illustrer une location</p>
                                    {{ form_row(edit_form.medias) }}
                                    <a class="btn-floating btn-large waves-effect waves-light teal lighten-4"
                                       id="add-another-media"><i
                                                class="material-icons">add</i></a>
                                </div>
                            </div>

                            <input class="waves-effect waves-light btn-large light-green" type="submit"
                                   value="Modifier"/>
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('admin_location_index') }}"><i
                                                class="material-icons">keyboard_return</i>Retour
                                        à la liste des locations</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var mediaCount = '{{ edit_form.medias|length }}';

        jQuery(document).ready(function () {
            jQuery('#add-another-media').click(function (e) { // appbundle_products_add-product
                e.preventDefault();
                var mediaList = jQuery('#{{ edit_form.medias.vars.id }}');

                var newWidget = mediaList.attr('data-prototype');
                newWidget = newWidget.replace(/label__/g, '');
                newWidget = newWidget.replace(/__name__/g, mediaCount);
                mediaCount++;
                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(mediaList);
                $('select').material_select();

            });
            var media = [
                {% for media in location.medias if media.id != null %}
                [
                    '{{ path('location_media_delete', {"id" : location.id, "media_id" : media.id}) }}'
                ],
                {% endfor %}
            ];

            for (i = 0; i < media.length; i++) {
                if (media.length > 1) {
                    jQuery('#myorleansbundle_location_medias_' + i).append('<a href="' + media[i][0] + '">Supprimer le média ' + i + '</a>');
                }
            }
        });
    </script>
{% endblock %}
