{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Location ref. : {{ location.reference }} </h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Référence</th>
                                    <td>{{ location.reference }}</td>
                                </tr>
                                <tr>
                                    <th>Statut</th>
                                    <td>{% if location.statut %}Disponible{% else %}Loué{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Type de Bien</th>
                                    <td>{{ location.typeBien.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Type de Logement</th>
                                    <td>{{ location.typeLogement.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Disponibilité</th>
                                    <td>{% if location.date %}{{ location.date|date('j-m-Y') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface</th>
                                    <td>{{ location.surface }}{% if location.surface != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Balcon</th>
                                    <td>{{ location.surfaceBalcon }}{% if location.surfaceBalcon != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Terrasse</th>
                                    <td>{{ location.surfaceTerrasse }}{% if location.surfaceTerrasse != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Jardin</th>
                                    <td>{{ location.surfaceJardin }}{% if location.surfaceJardin != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Terrain</th>
                                    <td>{{ location.surfaceTerrain }}{% if location.surfaceTerrain != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Stationnement</th>
                                    <td>{{ location.stationnement }}</td>
                                </tr>
                                <tr>
                                    <th>Chauffage</th>
                                    <td>{{ location.chauffage }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ location.ville.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Ges</th>
                                    <td>{{ location.ges }}</td>
                                </tr>
                                <tr>
                                    <th>Energie</th>
                                    <td>{{ location.energie }}</td>
                                </tr>
                                <tr>
                                    <th>Accroche</th>
                                    <td>{{ location.accroche }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ location.description }}</td>
                                </tr>
                                <tr>
                                    <th>Loyer (hors charges)</th>
                                    <td>{{ location.loyer|number_format(0, '.', ' ') }}{% if location.loyer != null %} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Provisions</th>
                                    <td>{{ location.provision|number_format(0, '.', ' ') }}{% if location.provision != null %} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Dépot</th>
                                    <td>{{ location.depot|number_format(0, '.', ' ') }}{% if location.depot != null %} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Honoraires (état des lieux inclus)</th>
                                    <td>{{ honoraires|number_format(0, '.', ' ') }}{% if honoraires != null %} €{% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="row">
                                {% for media in location.medias %}
                                    <div class="col s4">
                                        <img class="responsive-img" src="{{ asset('uploads/'~media.mediaName) }}"/>
                                        <p>{{ media.typeMedia.nom }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_location_index', {'id': location.id }) }}"><i
                                                class="material-icons">keyboard_return</i>Retour à la liste des locations</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_location_edit', { 'id': location.id }) }}"><i
                                                class="material-icons">build</i>Éditer cette location</a>
                                </li>

                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

