{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Modifier ce témoignage</h4>
                        </div>
                        <div class="card-content table-responsive">

                            {{ form_start(edit_form) }}
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.theme, 'Theme : ') }}
                                    {{ form_widget(edit_form.theme) }}
                                    {{ form_errors(edit_form.theme) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.auteur, 'Auteur : ') }}
                                    {{ form_widget(edit_form.auteur) }}
                                    {{ form_errors(edit_form.auteur) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    {{ form_label(edit_form.date, 'Date : ') }}
                                    <div class="row">
                                        <div class="col s3">{{ form_widget(edit_form.date.day) }}</div>
                                        <div class="col s3">{{ form_widget(edit_form.date.month) }}</div>
                                        <div class="col s3">{{ form_widget(edit_form.date.year) }}</div>
                                    </div>
                                    {{ form_errors(edit_form.date) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.message, 'Message : ') }}
                                    {{ form_widget(edit_form.message, { 'attr': {'class':'areaDescription'}}) }}
                                    {{ form_errors(edit_form.message) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {% if temoignage.media.mediaName is defined %}

                                        <p class="imgUploader"><img class="responsive-img"
                                                                    src="{{ asset('uploads/'~temoignage.media.mediaName) }}"
                                                                    alt="{{ temoignage.auteur }}"/>
                                            {% if asset('uploads/'~temoignage.media.mediaName) !=  asset('uploads/default.jpg') %}
                                                <a href="{{ path('temoignage_media_delete', {"id" : temoignage .id}) }}">Supprimer</a>
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                    <h3>Ajouter une nouvelle image.</h3>
                                    <p>Utilisez le type de média "<b>image-cover</b>" pour afficher une image en couverture du
                                        temoignage et de l'illustrer.</p>
                                    {{ form_widget(edit_form.media) }}
                                </div>
                            </div>
                            <input class="waves-effect waves-light btn-large light-green" type="submit" value="Modifier"/>
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('admin_temoignage_index') }}"><i class="material-icons">keyboard_return</i>Retour
                                        à la liste des témoignages</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
