{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Client : {{ client.nom }}</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ client.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ client.email }}</td>
                                </tr>
                                <tr>
                                    <th>date</th>
                                    <td>{% if client.date != null %}{{ client.date|date('d/m/Y') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Telephone</th>
                                    <td>{{ client.telephone }}</td>
                                </tr>
                                <tr>
                                    <th>Codepostal</th>
                                    <td>{{ client.codePostal }}</td>
                                </tr>
                                <tr>
                                    <th>Newsletter</th>
                                    <td>{{ client.newsletter }}</td>
                                </tr>
                                <tr>
                                    <th>type de logement</th>
                                    <td>{% for type in client.typeLogement %}{{ type }} {% endfor %}</td>
                                </tr>
                                <tr>
                                    <th>Sujet</th>
                                    <td>{{ client.sujet }}</td>
                                </tr>
                                <tr>
                                    <th>Message</th>
                                    <td>{{ client.message }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_client_index') }}"><i class="material-icons">keyboard_return</i>Retour
                                        à la liste des clients</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_client_edit', { 'id': client.id }) }}"><i
                                                class="material-icons">build</i>Éditer ce client</a>
                                </li>

                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
