{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Ancien bien ref. : {{ ancien.reference }} </h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Référence</th>
                                    <td>{{ ancien.reference }}</td>
                                </tr>
                                <tr>
                                    <th>Statut</th>
                                    <td>{% if ancien.statut %}Disponible{% else %}Vendu{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Type de Bien</th>
                                    <td>{{ ancien.typeBien.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Type de Logement</th>
                                    <td>{{ ancien.typeLogement.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Surface</th>
                                    <td>{{ ancien.surface }}{% if ancien.surface != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Balcon</th>
                                    <td>{{ ancien.surfaceBalcon }}{% if ancien.surfaceBalcon != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Terrasse</th>
                                    <td>{{ ancien.surfaceTerrasse }}{% if ancien.surfaceTerrasse != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Jardin</th>
                                    <td>{{ ancien.surfaceJardin }}{% if ancien.surfaceJardin != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Surface Terrain</th>
                                    <td>{{ ancien.surfaceTerrain }}{% if ancien.surfaceTerrain != null %} m²{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Stationnement</th>
                                    <td>{{ ancien.stationnement }}</td>
                                </tr>
                                <tr>
                                    <th>Chauffage</th>
                                    <td>{{ ancien.chauffage }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ ancien.ville.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Ges</th>
                                    <td>{{ ancien.ges }}</td>
                                </tr>
                                <tr>
                                    <th>Energie</th>
                                    <td>{{ ancien.energie }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ ancien.description }}</td>
                                </tr>
                                <tr>
                                    <th>Copropriété</th>
                                    <td>{% if ancien.copropriete %}oui{% else %}non{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Nombre de lots</th>
                                    <td>{{ ancien.nbLots }}</td>
                                </tr>
                                <tr>
                                    <th>Prix de vente</th>
                                    <td>{{ ancien.prix|number_format(0, '.', ' ') }}{% if ancien.prix != null %} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Frais d'agence</th>
                                    <td>{{ ancien.fraisAgence|number_format(0, '.', ' ') }}{% if ancien.fraisAgence != null %} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Charges annuelles</th>
                                    <td>{{ ancien.chargesAnnuelles|number_format(0, '.', ' ') }}{% if ancien.chargesAnnuelles != null %} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Taxe Foncière</th>
                                    <td>{{ ancien.taxeFonciere|number_format(0, '.', ' ') }}{% if ancien.taxeFonciere != null %} €{% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="row">
                                {% for media in ancien.medias %}
                                    <div class="col s4">
                                        <img class="responsive-img" src="{{ asset('uploads/'~media.mediaName) }}"/>
                                        <p>{{ media.typeMedia.nom }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_ancien_index', {'id': ancien.id }) }}"><i
                                                class="material-icons">keyboard_return</i>Retour à la liste des anciens biens</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_ancien_edit', { 'id': ancien.id }) }}"><i
                                                class="material-icons">build</i>Éditer cet ancien bien</a>
                                </li>

                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

