{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Modifier les infos générales</h4>
                        </div>
                        <div class="card-content table-responsive">

                            {{ form_start(edit_form) }}
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.presentation, 'Prestation : ') }}
                                    {{ form_widget(edit_form.presentation) }}
                                    {{ form_errors(edit_form.presentation) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {{ form_label(edit_form.mentions, 'Mentions : ') }}
                                    {{ form_widget(edit_form.mentions) }}
                                    {{ form_errors(edit_form.mentions) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <h3>Les medias actuellement reliés à My Tours</h3>
                                    <p>Utilisez le type de média "<b>image-cover</b>" pour afficher une image en tête de l'accueil <strong>OU</strong> "<b>video</b>" pour une vidéo</p>
                                    <p>Utilisez le type de média "<b>image</b>" pour afficher les Honoraires dans le footer.</p>
                                    <p>Utilisez le type de média "<b>image-header</b>" pour afficher des images dans le slider de présentation My Tours.</p>
                                    {{ form_row(edit_form.medias) }}
                                    <h3>Ajouter un nouveau média.</h3>

                                    <a class="btn-floating btn-large waves-effect waves-light teal lighten-4"
                                       id="add-another-media"><i
                                                class="material-icons">add</i></a>
                                </div>
                            </div>
                            <input class="waves-effect waves-light btn-large light-green" type="submit" value="Modifier"/>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var mediaCount = '{{ edit_form.medias|length }}';
        jQuery(document).ready(function () {
            jQuery('#add-another-media').click(function (e) { // appbundle_products_add-product
                e.preventDefault();
                var mediaList = jQuery('#{{ edit_form.medias.vars.id }}');

                var newWidget = mediaList.attr('data-prototype');
                newWidget = newWidget.replace(/label__/g, '');
                newWidget = newWidget.replace(/__name__/g, mediaCount);
                mediaCount++;
                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(mediaList);
                $('select').material_select();
            });

            var media = [
                {% for media in accueil.medias if media.id != null %}
                [
                    '{{ path('accueil_media_delete', {"id" : accueil.id, "media_id" : media.id}) }}'
                ],
                {% endfor %}
            ];

            for (i = 0; i < media.length; i++) {
                if (media.length > 1) {
                    jQuery('#mytoursbundle_accueil_medias_' + i).append('<a href="' + media[i][0] + '">Supprimer le média ' + i + '</a>');
                }
            }
        });
    </script>
{% endblock %}
